In [1]:
stuff = list()
stuff.append('python')
stuff.append('chuck')
stuff.sort()
print (stuff[0])
print (stuff.__getitem__(0))
print (list.__getitem__(stuff,0))

chuck
chuck
chuck

In [2]:
dir(stuff)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [60]:
#we define a class (A template that can be used to construct an object)
#An object is a constructed instance of a class. An object contains all of the attributes and methods that were defined by the class. Some object-oriented documentation uses the term ‘instance’ interchangeably with ‘object’    
    
class PartyAnimal: #this is the tamplate for making PartyAnimal objects

   x = 0 # an attribute(attribute is a variable that is part of a class.)


   def party(self) : # a method; self refer to the instance in which the method is being called 
     self.x = self.x + 1 #‘the x within self.’
     print("So far",self.x)

an = PartyAnimal()#construct a PartyAniman object and store it in an variable

#Tell the an object to run the party() method within it
#Each time party() is called, the internal x value is incremented by 1 and the value is printed out.
an.party()
an.party()
an.party()
an.party()
an.party()
#The following line is another way to call the party method within the an object:
PartyAnimal.party(an)

So far 1
So far 2
So far 3
So far 4
So far 5
So far 6

In [38]:
class PartyAnimal:
   x = 0

   def party(self) :
     self.x = self.x + 1
     print("So far",self.x)

an = PartyAnimal()

print ("Type", type(an))#class main

print ("Dir ", dir(an))#we can use dir() to find tha capabilities of our newly created class

print ("Type", type(an.x))#class int

print ("Type", type(an.party))#class methon

Type <class '__main__.PartyAnimal'>
Dir  ['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'party', 'x']
Type <class 'int'>
Type <class 'method'>

In [58]:
#If we want our object to be aware of these moments of construction and destruction, 
#we add specially named methods to our object:

class PartyAnimal:
   x = 0

   def __init__(self): # A constructor: An optional specially named method (__init__) that is called at the moment when a class is being used to construct an object. Usually this is used to set up initial values for the object.# __init__ method gives us a chance to set up some default or initial values for the object.
     print('I am constructed')

   def party(self) :
     self.x = self.x + 1
     print('So far',self.x)

   def __del__(self):#destructor An optional specially named method (__del__) that is called at the moment just before an object is destroyed. Destructors are rarely used.
     print('I am destructed', self.x)

an = PartyAnimal()#I am constructed


an.party()
an.party()
an = 42 #It actually “throws our object away” so it can reuse the an variable to store the value 42.
print('an contains',an)

I am constructed
So far 1
So far 2
I am destructed 2
an contains 42

In [62]:
class PartyAnimal:
   x = 0
   name = ''
   def __init__(self, z):#Constructors can have additional parameters. These can be used to set up instance variables for the particular instance of the class(i.e., for the particular object)
     self.name = z
     print(self.name,'constructed')

   def party(self) :
     self.x = self.x + 1
     print(self.name,'party count',self.x)

#we have two independent instances(i.e., two objects)    
    
s = PartyAnimal('Sally')#Sally constructed
s.party()
s.party()

j = PartyAnimal('Jim')#Jim constructed
j.party()

#The output of the program shows that each of the objects (s and j) contain their own independent copies of x and z:

Sally constructed
Sally party count 1
Sally party count 2
Jim constructed
Jim party count 1

## SQL

In [1]:
CREATE TABLE Users(name VACHAR(128),
	email VACHAR(128))

##

INSERT INTO Users(name, email) VALUES ('Kristin', 'kf@umich.edu')

##

DELETE FROM Users WHERE email='fred@umich.edu'

##

UPDATE Users SET name='Charles' WHERE email='csev@umich.edu'

##
SELECT * FROM Users
#
SELECT * FROM Users WHERE email='csev@umich.edu'
#
SELECT FROM Users ORDER BY email
#
SELECT COUNT(*) FROM Users

##

SyntaxError: invalid syntax (<ipython-input-1-94a11e2224d9>, line 1)

## sqlite with Python

In [1]:
import sqlite3

conn = sqlite3.connect('music.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Tracks')
cur.execute('CREATE TABLE Tracks (title TEXT, plays INTEGER)')

conn.close()

In [2]:
import sqlite3

conn = sqlite3.connect('music.sqlite')
cur = conn.cursor()

cur.execute('INSERT INTO Tracks (title, plays) VALUES (?, ?)', 
    ('Thunderstruck', 20))
cur.execute('INSERT INTO Tracks (title, plays) VALUES (?, ?)', 
    ('My Way', 15))
conn.commit()

print('Tracks:')
cur.execute('SELECT title, plays FROM Tracks')
for row in cur:
     print(row)

cur.execute('DELETE FROM Tracks WHERE plays < 100')
conn.commit()

cur.close()

Tracks:
('Thunderstruck', 20)
('My Way', 15)

In [2]:
#mbox-short.txt
import sqlite3

conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')

cur.execute('''
CREATE TABLE Counts (email TEXT, count INTEGER)''')

fname = input('Enter file name: ')
if (len(fname) < 1): fname = 'mbox-short.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces = line.split()
    email = pieces[1]
    cur.execute('SELECT count FROM Counts WHERE email = ? ', (email,)) # ? is a place holder;And this syntax right here, the question mark is sort of where this artist variable goes. And this is a tuple, but I have to sort of put the comma in to force it to be a tuple. So this is a way you have a one tuple. 
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (email, count)
                VALUES (?, 1)''', (email,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE email = ?',
                    (email,))
conn.commit()

# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

Enter file name:
cwen@iupui.edu 5
zqian@umich.edu 4
david.horwitz@uct.ac.za 4
louis@media.berkeley.edu 3
gsilver@umich.edu 3
stephen.marquard@uct.ac.za 2
rjlowe@iupui.edu 2
wagnermr@iupui.edu 1
antranig@caret.cam.ac.uk 1
gopal.ramasammycook@gmail.com 1

In [8]:
##sqllite assignment_1

CREATE TABLE Ages ( 
  name VARCHAR(128), 
  age INTEGER
)

DELETE FROM Ages;
INSERT INTO Ages (name, age) VALUES ('Mariesha', 29);
INSERT INTO Ages (name, age) VALUES ('Lotti', 14);
INSERT INTO Ages (name, age) VALUES ('Bryan', 32);
INSERT INTO Ages (name, age) VALUES ('Roshan', 32);
INSERT INTO Ages (name, age) VALUES ('Sandra', 13);
INSERT INTO Ages (name, age) VALUES ('Tobey', 19);


SELECT hex(name || age) AS X FROM Ages ORDER BY X

SyntaxError: invalid syntax (<ipython-input-8-e4ddb65242a4>, line 3)

In [7]:
#Assignment 2: my answer
import sqlite3
import re
conn = sqlite3.connect('orgdb.sqlite')
cur = conn.cursor()

cur.execute('''
DROP TABLE IF EXISTS Counts''')

cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')

fname = 'mbox.txt'

fh = open(fname)

fh = open(fname)
for line in fh:
    line = line.rstrip()
    y=re.findall('From: \S+@(\S+[a-zA-Z])' , line)
    if len(y) > 0:
        org=y[0]
        
        cur.execute('SELECT count FROM Counts WHERE org = ? ', (org,))
        row = cur.fetchone()
        if row is None:
            cur.execute('''INSERT INTO Counts (org, count)
                    VALUES (?, 1)''', (org,))
        else:
            cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?',
                        (org,))
conn.commit()

# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17
txstate.edu 17
whitman.edu 17
lancaster.ac.uk 14
bu.edu 14
stanford.edu 12
unicon.net 9
loi.nl 9
rsmart.com 8
ucdavis.edu 1
fhda.edu 1
utoronto.ca 1

In [27]:
   import sqlite3

conn = sqlite3.connect('emaildb2.sqlite')
cur = conn.cursor()

cur.execute('''
DROP TABLE IF EXISTS Counts''')

cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')

fname = input('Enter file name: ')
if (len(fname) < 1): fname = 'mbox.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces = line.split()
    email = pieces[1]
    dom = email.find('@')
    org = email[dom+1:len(email)]

    cur.execute('SELECT count FROM Counts WHERE org = ? ', (org,))
    
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (org, count)
                VALUES (?, 1)''', (org,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?',
                    (org,))
conn.commit()
# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

Enter file name:
iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17
txstate.edu 17
whitman.edu 17
lancaster.ac.uk 14
bu.edu 14
stanford.edu 12
unicon.net 9
loi.nl 9
rsmart.com 8
ucdavis.edu 1
fhda.edu 1
utoronto.ca 1

In [8]:
import sqlite3
 
#connects to database, creates a sqlite file
conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()
 
cur.execute('''
DROP TABLE IF EXISTS Counts''')
 
cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')
 
#convert txt into table
fname = input ('Enter file name:') #<span style="font-family: Arial, Helvetica, sans-serif;">fname = 'mbox-short.txt'</span>
if (len(fname) < 1) : fname = 'mbox.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: ') : continue
    pieces = line.split('@')
    org = pieces[1]
    org = org.rstrip()#remove the blank spaces
    cur.execute('SELECT count FROM Counts WHERE org = ?', (org, ))
    try:
        count = cur.fetchone()[0]#get the current count
        cur.execute('UPDATE Counts SET count=count+1 WHERE org = ?', (org, ))
    except:
        cur.execute('''INSERT INTO Counts (org, count)
            VALUES(?, 1)''', (org, ))
conn.commit()
 
 
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC' #DESC LIMIT 10
 
for row in cur.execute(sqlstr):
    print (str(row[0]), row[1])

Enter file name:
iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17
txstate.edu 17
whitman.edu 17
lancaster.ac.uk 14
bu.edu 14
stanford.edu 12
unicon.net 9
loi.nl 9
rsmart.com 8
ucdavis.edu 1
fhda.edu 1
utoronto.ca 1

In [5]:
##SQL example using Python

import xml.etree.ElementTree as ET
import sqlite3

conn = sqlite3.connect('trackdb.sqlite')
cur = conn.cursor()

# Make some fresh tables using executescript()
cur.executescript('''
DROP TABLE IF EXISTS Artist;
DROP TABLE IF EXISTS Album;
DROP TABLE IF EXISTS Track;

CREATE TABLE Artist (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Album (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    artist_id  INTEGER,
    title   TEXT UNIQUE
);

CREATE TABLE Track (
    id  INTEGER NOT NULL PRIMARY KEY 
        AUTOINCREMENT UNIQUE,
    title TEXT  UNIQUE,
    album_id  INTEGER,
    len INTEGER, rating INTEGER, count INTEGER
);
''')


fname = input('Enter file name: ')
if ( len(fname) < 1 ) : fname = 'Library.xml'

    
# XML data looks like:   
# <key>Track ID</key><integer>369</integer>
# <key>Name</key><string>Another One Bites The Dust</string>
# <key>Artist</key><string>Queen</string>
# we need a function that does a look up

def lookup(d, key):
    found = False
    for child in d:
        if found : return child.text
        if child.tag == 'key' and child.text == key :
            found = True
    return None




stuff = ET.parse(fname)
all = stuff.findall('dict/dict/dict')#we go through the third level dictionary
print('Dict count:', len(all))
for entry in all:
    if ( lookup(entry, 'Track ID') is None ) : continue

    name = lookup(entry, 'Name')
    artist = lookup(entry, 'Artist')
    album = lookup(entry, 'Album')
    count = lookup(entry, 'Play Count')
    rating = lookup(entry, 'Rating')
    length = lookup(entry, 'Total Time')

    if name is None or artist is None or album is None : 
        continue

    print(name, artist, album, count, rating, length)

    #  Because I put this constraint on that, except when I say insert or ignore that basically says, hey, 
    #If it's already there, don't insert it again. So what I'm doing here is insert or ignore into artist, 
    #so this is putting a new row into the artist table, unless there is already a row in that artist table.
    
    cur.execute('''INSERT OR IGNORE INTO Artist (name) 
        VALUES ( ? )''', ( artist, ) )#And this syntax right here, the question mark is sort of where this artist variable goes. And this is a tuple, but I have to sort of put the comma in to force it to be a tuple. So this is a way you have a one tuple. 
    cur.execute('SELECT id FROM Artist WHERE name = ? ', (artist, ))
    artist_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Album (title, artist_id) 
        VALUES ( ?, ? )''', ( album, artist_id ) )
    cur.execute('SELECT id FROM Album WHERE title = ? ', (album, ))
    album_id = cur.fetchone()[0]

    #And so what this basically says is if the unique constraint would be violated, this turns into an update. Now, not all SQLs have this, but SQLite has this, that basically says insert or replace.
    cur.execute('''INSERT OR REPLACE INTO Track
        (title, album_id, len, rating, count) 
        VALUES ( ?, ?, ?, ?, ? )''', 
        ( name, album_id, length, rating, count ) )

conn.commit()

Enter file name:
Dict count: 404
Another One Bites The Dust Queen Greatest Hits 55 100 217103
Asche Zu Asche Rammstein Herzeleid 79 100 231810
Beauty School Dropout Various Grease 48 100 239960
Black Dog Led Zeppelin IV 109 100 296620
Bring The Boys Back Home Pink Floyd The Wall [Disc 2] 33 100 87118
Circles Bryan Lee Blues Is 54 60 355369
Comfortably Numb Pink Floyd The Wall [Disc 2] 36 100 384130
Crazy Little Thing Called Love Queen Greatest Hits 38 100 163631
Electric Funeral Black Sabbath Paranoid 44 100 293015
Fat Bottomed Girls Queen Greatest Hits 38 100 257515
For Those About To Rock (We Salute You) AC/DC Who Made Who 84 100 353750
Four Sticks Led Zeppelin IV 84 100 284421
Furious Angels Rob Dougan The Matrix Reloaded 54 100 330004
Gelle Bryan Lee Blues Is 45 60 199836
Going To California Led Zeppelin IV 100 100 215666
Grease Various Grease 42 100 205792
Hand of Doom Black Sabbath Paranoid 36 100 429609
Hells Bells AC/DC Who Made Who 82 100 312946
Hey You Pink Floyd The Wall [Disc 2] 23 100 282305
I Worry Bryan Lee Blues Is 33 100 341315
Iron Man Black Sabbath Paranoid 39 100 358530
Is There Anybody Out There? Pink Floyd The Wall [Disc 2] 26 100 160679
It was a Very Good Year Frank Sinatra Greatest Hits 39 100 268852
Its Your Move Bryan Lee Blues Is 40 100 245002
Jack the Stripper/Fairies Wear Boots Black Sabbath Paranoid 35 100 373995
Killer Queen Queen Greatest Hits 34 100 181368
Laichzeit Rammstein Herzeleid 41 100 262844
Let me Down Easy Bryan Lee Blues Is 43 100 331441
Misty Mountain Hop Led Zeppelin IV 88 100 278831
No Low Down Bryan Lee Blues Is 39 100 245760
Now You Are Gone America Greatest Hits 52 100 187559
Outside The Wall Pink Floyd The Wall [Disc 2] 16 100 104437
Paranoid Black Sabbath Paranoid 36 100 172930
Planet Caravan Black Sabbath Paranoid 38 100 274938
Pretty Jeanie Bryan Lee Blues Is 34 100 225175
Rammstein Rammstein Herzeleid 45 100 265090
Rat Salad Black Sabbath Paranoid 46 100 150230
Rock & Roll Led Zeppelin IV 109 100 220891
Rode Across the Desert America Greatest Hits 60 100 249887
Sandy Various Grease 36 100 155742
Shake Your Foundations AC/DC Who Made Who 85 100 233769
Sister Golden Hair America Greatest Hits 60 100 202057
Somebody To Love Queen Greatest Hits 17 100 297586
Stairway To Heaven Led Zeppelin IV 93 100 481567
Strangers in the Night Frank Sinatra Greatest Hits 42 100 158484
Summer Nights Various Grease 35 100 216973
Summer Wind Frank Sinatra Greatest Hits 46 100 177554
Thats Life Frank Sinatra Greatest Hits 43 100 189988
The Battle Of Evermore Led Zeppelin IV 110 100 351529
The Blues "Is" Bryan Lee Blues Is 45 100 252238
There it Is Bryan Lee Blues Is 35 100 395441
Think Bryan Lee Blues Is 41 100 320339
This Town Frank Sinatra Greatest Hits 44 100 185051
Tin Man America Greatest Hits 50 100 210076
Track 01 Billy Price Danger Zone 47 100 261825
Track 02 Billy Price Danger Zone 42 100 165459
Track 03 Billy Price Danger Zone 41 100 206471
Messin with the Kid The Canettes Blues Band Self Titled 23 100 226377
Track 04 Billy Price Danger Zone 37 100 257175
Stormy Monday The Canettes Blues Band Self Titled 29 100 464143
Track 05 Billy Price Danger Zone 42 100 230295
Waiting on Ice Bryan Lee Blues Is 37 100 289384
War Pigs/Luke's Wall Black Sabbath Paranoid 38 100 478197
We Are The Champions Queen Greatest Hits 24 100 181864
We Will Rock You Queen Greatest Hits 33 100 123559
When Somebody Loves You Frank Sinatra Greatest Hits 43 100 117263
When The Levee Breaks Led Zeppelin IV 83 100 427624
You are the One that I Want Various Grease 31 100 169900
You Done Me Wrong Bryan Lee Blues Is 35 100 200097
You Shook Me All Night Long AC/DC Who Made Who 92 100 210938
You're My Best Friend Queen Greatest Hits 31 100 172643
Zion Fluke The Matrix Reloaded 47 100 273528
Who Made Who AC/DC Who Made Who 110 100 207203
D.T. AC/DC Who Made Who 90 None 173714
Sink the Pink AC/DC Who Made Who 83 None 253466
Ride On AC/DC Who Made Who 75 None 351268
Chase the Ace AC/DC Who Made Who 93 None 181420
Wollt Ihr Das Bett In Flammen Sehen Rammstein Herzeleid 50 None 317387
Der Meister Rammstein Herzeleid 46 None 250801
Weisses Fleisch Rammstein Herzeleid 52 None 215902
Seemann Rammstein Herzeleid 34 None 288235
Du Riechst So Gut Rammstein Herzeleid 50 None 289332
Das Alte Leid Rammstein Herzeleid 46 None 344581
Heirate Mich Rammstein Herzeleid 39 None 284734
Herzeleid Rammstein Herzeleid 42 None 223425
Baba O'Riley The Who Who's Next 45 None 298448
Bargain The Who Who's Next 37 None 331676
Love Ain't for Keeping The Who Who's Next 24 None 130560
My Wife The Who Who's Next 17 None 213786
The Song Is Over The Who Who's Next 14 None 375797
Getting In Tune The Who Who's Next 27 None 288809
Going Mobile The Who Who's Next 28 100 221910
Behind Blue Eyes The Who Who's Next 43 None 221570
Won't Get Fooled Again The Who Who's Next 21 None 511111
Folsom Prison Blues Johnny Cash The Legend Of Johnny Cash 47 100 170004
I Walk The Line Johnny Cash The Legend Of Johnny Cash 33 100 165720
Get Rhythm Johnny Cash The Legend Of Johnny Cash 35 100 134530
Big River Johnny Cash The Legend Of Johnny Cash 51 None 152711
Guess Things Happen That Way Johnny Cash The Legend Of Johnny Cash 35 None 111386
Ring Of Fire Johnny Cash The Legend Of Johnny Cash 30 100 157100
Jackson Johnny Cash The Legend Of Johnny Cash 35 100 166530
A Boy Named Sue (live) Johnny Cash The Legend Of Johnny Cash 37 None 226063
You Raise Me Up Selah Hiding Place 9 None 302262
Hold On, I'm Coming The Canettes Blues Band On Tap & In the Can 34 100 282566
Got my Mojo Working The Canettes Blues Band On Tap & In the Can 52 100 310517
Sweet Home Chicago The Canettes Blues Band On Tap & In the Can 27 100 375849
Heavy Love The Canettes Blues Band On Tap & In the Can 28 100 253544
Cold Cold Feeling The Canettes Blues Band On Tap & In the Can 43 100 261929
Lonely Avenue The Canettes Blues Band On Tap & In the Can 24 100 292022
Good Morning Little Schoolgirl The Canettes Blues Band On Tap & In the Can 20 100 278648
Dust My Broom The Canettes Blues Band On Tap & In the Can 24 100 299311
Gimme' Some Lovin The Canettes Blues Band On Tap & In the Can 35 100 227239
Everybody Needs Somebody to Love The Canettes Blues Band On Tap & In the Can 24 100 195186
Black Magic Woman The Canettes Blues Band On Tap & In the Can 31 100 442644
Steppin' Rooster The Canettes Blues Band On Tap & In the Can 21 100 704862
Our Love is Drifting The Canettes Blues Band On Tap & In the Can 15 100 292649
Doin' 100 The Canettes Blues Band On Tap & In the Can 20 100 343980
Mother Joy Matt Ender Natural Wonders Music Sampler 1999 463 None 287294
Soldier's Lament Steve McDonald Natural Wonders Music Sampler 1999 371 None 347193
Dulaman Altan Natural Wonders Music Sampler 1999 403 None 223007
The Arrow Chris Spheeris Natural Wonders Music Sampler 1999 416 None 319869
Spanish Eyes La Esperanza Natural Wonders Music Sampler 1999 375 None 259030
Banana Bay Luis Villegas Natural Wonders Music Sampler 1999 403 None 198060
Aguas De Marco Rosa Passos Natural Wonders Music Sampler 1999 407 None 179408
Tamborea Energipsy Natural Wonders Music Sampler 1999 355 None 235389
Gone Hollie Smith Natural Wonders Music Sampler 1999 362 None 196414
The Immigrant Joanie Madden Natural Wonders Music Sampler 1999 350 None 362631
Pahrump-Big Water Cusco Natural Wonders Music Sampler 1999 342 None 191634
Seeker's Quest Cheryl Gunn Natural Wonders Music Sampler 1999 337 None 236434
Floating To Forever Dean Everson Natural Wonders Music Sampler 1999 337 None 351686
Open Road Jeff Bailey Relaxing Jazz 10 None 318563
Ruby Kaiser Chiefs Yours Truly, Angry Mob 13 None 205008
The Angry Mob Kaiser Chiefs Yours Truly, Angry Mob 41 None 288313
Heat Dies Down Kaiser Chiefs Yours Truly, Angry Mob 12 None 237061
Highroyds Kaiser Chiefs Yours Truly, Angry Mob 10 None 199575
Love's Not A Competition (But I'm Winning) Kaiser Chiefs Yours Truly, Angry Mob 11 None 197799
Thank You Very Much Kaiser Chiefs Yours Truly, Angry Mob 11 None 157753
I Can Do It Without You Kaiser Chiefs Yours Truly, Angry Mob 11 None 204199
My Kind Of Guy Kaiser Chiefs Yours Truly, Angry Mob 10 None 246595
Everything Is Average Nowadays Kaiser Chiefs Yours Truly, Angry Mob 16 None 164754
Learnt My Lesson Well Kaiser Chiefs Yours Truly, Angry Mob 9 None 325955
Try Your Best Kaiser Chiefs Yours Truly, Angry Mob 8 None 222511
Retirement Kaiser Chiefs Yours Truly, Angry Mob 10 None 237426
The Angry Mob [Live From Berlin] Kaiser Chiefs Yours Truly, Angry Mob 40 None 279066
I Like To Fight Kaiser Chiefs Yours Truly, Angry Mob 8 None 218566
From The Neck Down Kaiser Chiefs Yours Truly, Angry Mob 15 None 147226
Bomb Squad (TECH) Brent Brent's Album 4 None 208065
BYURY ME Brent Peanut Butter & Jam  4 None 274076
Charlie and the Rising Moon Charlie And The Rising Moon Charlie and The Rising Moon None None 161645
clay techno  Brent Brent's Album 5 None 276062
Cloud Nine Times Over  Charlie And The Rising Moon Charlie and The Rising Moon 3 None 135131
Depression in Session Brent Peanut Butter and Jam  4 None 213211
Heavy Brent Brent's Album 2 None 188055
Hi metal man Brent Brent's Album 4 None 260153
Mistro Brent Brent's Album 5 None 178076
Pirate spirit Brent Brent's Album 3 None 180480
Run Away (New)  Brent Brent's Album 1 None 154383
Star Gaze (Inspired) Charlie And The Rising Moon Charlie and The Rising Moon None None 181498
The Dictator (New Brent Peanut Butter & Jam  5 None 143830
Town From Town Brent Brent's Album 4 None 86073
The Wisdom of Crowds: Why the Many Are Smarter than the Few Part 1 of 3 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter than the Few (Abridged Nonfiction) 15 None 8586749
The Wisdom of Crowds: Why the Many Are Smarter than the Few Part 2 of 3 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter than the Few (Abridged Nonfiction) 9 None 8443432
The Wisdom of Crowds: Why the Many Are Smarter than the Few Part 3 of 3 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter than the Few (Abridged Nonfiction) 3 None 4168829
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 1 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) 4 None 7920893
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 2 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) None None 7921106
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 3 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) None None 7965736
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 4 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) 1 None 9653330
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 5 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) None None 746536
Misty David Osborne Moonlight And Love Songs 302 None 249312
My Funny Valentine David Osborne Moonlight And Love Songs 301 None 235885
Since I Don't Have You David Osborne Moonlight And Love Songs 288 None 251846
Tenderly David Osborne Moonlight And Love Songs 284 None 227395
When I Fall In Love David Osborne Moonlight And Love Songs 281 None 187768
Unforgettable David Osborne Moonlight And Love Songs 280 None 272927
The Way You Look Tonight David Osborne Moonlight And Love Songs 277 None 247222
I've Grown Accustomed To Your Face David Osborne Moonlight And Love Songs 280 None 148035
Smoke Gets In Your Eyes David Osborne Moonlight And Love Songs 277 None 198504
Fly Me To The Moon David Osborne Moonlight And Love Songs 275 None 182543
Unchained Melody David Osborne Moonlight And Love Songs 265 None 259369
These Foolish Things Remind Me Of You David Osborne Moonlight And Love Songs 267 None 184711
La Vie En Rose David Osborne Moonlight And Love Songs 259 None 276767
As Time Goes By David Osborne Moonlight And Love Songs 290 None 257985
Pilot Fairly Legal Fairly Legal, Season 1 1 None 3847006
Jobs2a csev csev's Album None None 541074
hte postal service - the impor The Postal Service unreleased demo None None 193959
Winter Wonderland Bing Crosby Seasons Greatings 163 None 144744
Jingle Bells Frank Sinatra Seasons Greatings 271 None 121756
White Christmas Bing Crosby Seasons Greatings 158 None 95634
The Christmas Song Frank Sinatra Seasons Greatings 272 None 209632
Little Drummer Boy Bing Crosby Seasons Greatings 154 None 178311
Silent Night Frank Sinatra Seasons Greatings 257 None 149054
Let It Snow Bing Crosby Seasons Greatings 154 None 125126
Mistletoe And Holly Frank Sinatra Seasons Greatings 257 None 138501
O Holy Night Bing Crosby Seasons Greatings 150 None 214021
Have Yourself A Merry Little Christmas Frank Sinatra Seasons Greatings 252 None 208248
Do You Hear What I Hear Bing Crosby Seasons Greatings 155 None 164728
I'll Be Home For Christmas Frank Sinatra Seasons Greatings 249 None 190876
Voices Disturbed The Sickness None None 191764
The Game Disturbed The Sickness 1 None 227134
Stupify Disturbed The Sickness 1 None 274233
Down With The Sickness Disturbed The Sickness 1 None 278726
Violence Fetish Disturbed The Sickness None None 203833
Fear Disturbed The Sickness 4 None 227004
Numb Disturbed The Sickness None None 224940
Want Disturbed The Sickness None None 232803
Conflict Disturbed The Sickness 5 None 275330
Shout 2000 Disturbed The Sickness 1 None 257802
Droppin' Plates Disturbed The Sickness 4 None 229302
Meaning Of Life Disturbed The Sickness 3 None 242599
PY4INF-01-Intro.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. 1 None 3428075
Eben Upton: Raspberry Pi IEEE Computer Society Computing Conversations 2 None 661368
Andrew Tanenbaum: Writing the Book on Networks IEEE Computer Society Computing Conversations 4 None 535040
Massimo Banzi: Building Arduino IEEE Computer Society Computing Conversations 1 None 567745
PY4INF-04-Functions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 1683800
PY4INF-02-Expressions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 2578416
PY4INF-03-Conditional.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 2296058
PY4INF-05-Iterations.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. 1 None 2804297
PY4INF-06-Strings.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 1677844
PY4INF-07-Files.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 1478713
PY4INF-08-Lists.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 1636231
PY4INF-09-Dictionaries.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 2254445
PY4INF-10-Tuples.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 1597596
PY4INF-11-Regex.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 2123702
John C. Hollar: History of Computing IEEE Computer Society Computing Conversations 1 None 694073
Bob Metcalfe: Ethernet at Forty IEEE Computer Society Computing Conversations None None 1031392
Gordon Bell: Building Blocks of Computing IEEE Computer Society Computing Conversations 1 None 744620
Ian Horrocks: Standardizing OWL IEEE Computer Society Computing Conversations 1 None 572212
Katie Hafner: The Origins of the Internet IEEE Computer Society Computing Conversations 1 None 652460
Larry Smarr: Building Mosaic IEEE Computer Society Computing Conversations None None 894693
Len Kleinrock: The Theory of Packets IEEE Computer Society Computing Conversations 1 None 674742

Mitchell Baker: The Mozilla Foundation IEEE Computer Society Computing Conversations None None 994246
Pooja Sankar: Building the Piazza Collaboration System IEEE Computer Society Computing Conversations None None 496404
Van Jacobson: Content-Centric Networking IEEE Computer Society Computing Conversations None None 780251
The Apache Software Foundation IEEE Computer Society Computing Conversations None None 542484
A Brief History of Packets IEEE Computer Society Computing Conversations None None 1004643
Discovering JavaScript Object Notation IEEE Computer Society Computing Conversations None None 650971
Inventing PHP IEEE Computer Society Computing Conversations None None 494915
Monash Museum of Computing History IEEE Computer Society Computing Conversations None None 362657
The Rise of JavaScript IEEE Computer Society Computing Conversations None None 526132
Joseph Hardin: NCSA Mosaic IEEE Computer Society Computing Conversations None None 845635
Len Kleinrock on the Internet's First Two Packets IEEE Computer Society Computing Conversations 1 None 594390
Doug Van Houweling on Building the NSFNet IEEE Computer Society Computing Conversations None None 773146
Computing Conversations: Nathaniel Borenstein on MIME IEEE Computer Society Computing Conversations None None 682135
You Don't Mess Around With Jim Jim Croce Classic Hits None None 184398
Andrew S. Tanenbaum on MINIX IEEE Computer Society Computing Conversations None None 603000
Computing Conversations: Elizabeth Fong on SQL Standards IEEE Computer Society Computing Conversations None None 533577
Nii Quaynor on Bringing the Internet to Africa IEEE Computer Society Computing Conversations 1 None 673332
PHP-09-Transactions.mp3 Created by Sakai SI 664 W14's official Podcast. None None 1728888
PHP-01-Intro.mp3 Created by Sakai SI 664 W14's official Podcast. None None 2250624
PHP-02-Install.mp3 Created by Sakai SI 664 W14's official Podcast. 1 None None
PHP-04-Expressions.mp3 Created by Sakai SI 664 W14's official Podcast. None None 2168064
PHP-05-Functions.mp3 Created by Sakai SI 664 W14's official Podcast. None None 1446792
PHP-06-Strings.mp3 Created by Sakai SI 664 W14's official Podcast. None None 417696
PHP-12-Sessions.mp3 Created by Sakai SI 664 W14's official Podcast. None None 3624312
PHP-06-Objects.mp3 Created by Sakai SI 664 W14's official Podcast. None None 2455368
SI664-13-JSON-A.mp3 Created by Sakai SI 664 W14's official Podcast. None None 4407672
PHP-13-JavaScript.mp3 Created by Sakai SI 664 W14's official Podcast. None None 3650088
PHP-09-Database-Design.mp3 Created by Sakai SI 664 W14's official Podcast. None None 3591072
PHP-Tsugi-Install.mp3 Created by Sakai SI 664 W14's official Podcast. None None 3181656
PHP-10-MySQL-PDO.mp3 Created by Sakai SI 664 W14's official Podcast. None None 4536685
PHP-08-MySQL.mp3 Created by Sakai SI 664 W14's official Podcast. None None 3994656
SI664-13-JSON-B.mp3 Created by Sakai SI 664 W14's official Podcast. None None 1484616
IMS-Learning-Tools-Interoperability.mp3 Created by Sakai SI 664 W14's official Podcast. None None 2185848
An Interview with Don Waters Matt Pasiewicz CNI Event Coverage 2 None 1411082
PY4INF-11-Regex.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 2123702
PY4INF-10-Tuples.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 1597596
PY4INF-09-Dictionaries.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 2254445
PY4INF-08-Lists.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 1636231
PY4INF-07-Files.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 1478713
PY4INF-06-Strings.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 1677844
PY4INF-05-Iterations.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 2804297
PY4INF-04-Functions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 1683800
PY4INF-03-Conditional.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 2296058
PY4INF-02-Expressions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 2578416
PY4INF-01-Intro.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 3428075
Py4Inf-11-Regex.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 2123702
Py4Inf-10-Tuples.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 1597596
Py4Inf-09-Dictionaries.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 2254445
Py4Inf-08-Lists.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 1636231
Py4Inf-07-Files.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 1478713
Py4Inf-06-Strings.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 1677844
Py4Inf-05-Iterations.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 2804297
Py4Inf-04-Functions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 1683800
Py4Inf-03-Conditional.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 2296058
Py4Inf-02-Expressions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 2578416
Py4Inf-01-Intro.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. None None 3428075
Ian Foster on the Globus Project IEEE Computer Society Computing Conversations 1 None 538305
Khan Academy and Computer Science IEEE Computer Society Computing Conversations 1 None 558837
Guido van Rossumon the Early Years of Python IEEE Computer Society Computing Conversations 1 None 701884
Guido van Rossum on the Modern Era of Python IEEE Computer Society Computing Conversations None None 741616
John Resig on Building jQuery IEEE Computer Society Computing Conversations None None 595983
Roy T. Fielding on Understanding the REST Style IEEE Computer Society Computing Conversations 1 None 683650
Anil Jain: 25 Years of Biometric Recognition IEEE Computer Society Computing Conversations None None 661368
Waste Management Undercover Boss Undercover Boss, Season 1 1 None 2565232
Sleep Like a Baby Tonight U2 Songs of Innocence None None 301641
Evergreen The Black Crowes Warpaint None None 261373
Oh Josephine The Black Crowes Warpaint None None 398907
Movin' On Down the Line The Black Crowes Warpaint None None 342693
Wounded Bird The Black Crowes Warpaint None None 263453
Volcano U2 Songs of Innocence None None 194116
Wee Who See the Deep The Black Crowes Warpaint None None 290520
Cedarwood Road U2 Songs of Innocence None None 265268
Locust Street The Black Crowes Warpaint None None 255240
Raised By Wolves U2 Songs of Innocence None None 245599
The Troubles U2 Songs of Innocence None None 285843
This Is Where You Can Reach Me Now U2 Songs of Innocence None None 305134
God's Got It The Black Crowes Warpaint None None 202653
California (There Is No End to Love) U2 Songs of Innocence None None 239846
Every Breaking Wave U2 Songs of Innocence None None 252162
Interview With the Onion News Network Onion News Network Onion News Network, Season 1 1 None 302002
Song for Someone U2 Songs of Innocence None None 226763
The Miracle (Of Joey Ramone) U2 Songs of Innocence None None 255382
Iris (Hold Me Close) U2 Songs of Innocence None None 319457
Goodbye Daughters of the Revolution The Black Crowes Warpaint None None 304147
Walk Believer Walk The Black Crowes Warpaint None None 280253
Choice Hotels International Undercover Boss Undercover Boss, Season 2 1 None 2614047
Microchip Jason Farnham YouTube Audio Library None None 114336
Anant Agarwal IEEE Computer Society Computing Conversations None None 494000

In [8]:
#SQLlite 2: 

#Creating multiple relational tables :

CREATE TABLE Artist ( id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, #primary key
name TEXT#logical key
)

CREATE TABLE Genre ( id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
name TEXT
)

CREATE TABLE Album ( id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
artist_id INTEGER,#foreign key 
title TEXT
)

CREATE TABLE Track ( id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
title TEXT,
album_id INTEGER,#foreign key 1
genre_id INTEGER,#foreign key 2
len INTEGER, rating INTEGER, count INTEGER
)

#Inserting data into those tables:

INSERT INTO Artist (name) values ('Led Zepplin');
INSERT INTO Artist (name) values ('AC/DC')


INSERT INTO Genre (name) values ('Rock');
INSERT INTO Genre (name) values ('Metal')


INSERT INTO Album (title, artist_id) values ('Who Made Who', 2);
INSERT INTO Album (title, artist_id) values ('IV', 1)


insert into Track (title, rating, len, count, album_id, genre_id)
values ('Black Dog', 5, 297, 0, 2, 1) ;
insert into Track (title, rating, len, count, album_id, genre_id)
values ('Stairway', 5, 482, 0, 2, 1) ;
insert into Track (title, rating, len, count, album_id, genre_id)
values ('About to Rock', 5, 313, 0, 1, 2) ;
insert into Track (title, rating, len, count, album_id, genre_id)
values ('Who Made Who', 5, 207, 0, 1, 2)


#Reconstructing Data with JOIN: it links across severat tables


select Album.title, Artist.name from Album join Artist on Album.artist_id = Artist.id

(select Album.title, Artist.name #what we want to see
    from Album join Artist #the tables that holds the data
    on Album.artist_id = Artist.id #how the tables are linked)
    
    
select Album.title, Album.artist_id, Artist.id, Artist.name #it schows how the previous connection is made
    from Album join Artist on Album.artist_id = Artist.id

#
 
select Track.title, Genre.name from Track join Genre on Track.genre_id = Genre.id
 
#
 
SELECT Track.title, Artist.name, Album.title, Genre.name FROM
Track JOIN Genre JOIN Album JOIN Artist on Track.genre_id = Genre.id 
and Track.album_id = Album.id and Album.artist_id = Artist.id

SyntaxError: invalid syntax (<ipython-input-8-c786fe89f25f>, line 5)

In [10]:
##Assignment week 3 Sqlite using Python

import xml.etree.ElementTree as ET
import sqlite3

conn = sqlite3.connect('trackdb2.sqlite')
cur = conn.cursor()

# Make some fresh tables using executescript()
cur.executescript('''
DROP TABLE IF EXISTS Artist;
DROP TABLE IF EXISTS Genre;
DROP TABLE IF EXISTS Album;
DROP TABLE IF EXISTS Track;

CREATE TABLE Artist (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Genre (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Album (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    artist_id  INTEGER,
    title   TEXT UNIQUE
);

CREATE TABLE Track (
    id  INTEGER NOT NULL PRIMARY KEY 
        AUTOINCREMENT UNIQUE,
    title TEXT  UNIQUE,
    album_id  INTEGER,
    genre_id  INTEGER,
    len INTEGER, rating INTEGER, count INTEGER
);
''')


fname = input('Enter file name: ')
if ( len(fname) < 1 ) : fname = 'Library.xml'

    
# XML data looks like:   
# <key>Track ID</key><integer>369</integer>
# <key>Name</key><string>Another One Bites The Dust</string>
# <key>Artist</key><string>Queen</string>
# we need a function that does a look up

def lookup(d, key):
    found = False
    for child in d:
        if found : return child.text
        if child.tag == 'key' and child.text == key :
            found = True
    return None




stuff = ET.parse(fname)
all = stuff.findall('dict/dict/dict')
print('Dict count:', len(all))
for entry in all:
    if ( lookup(entry, 'Track ID') is None ) : continue

    name = lookup(entry, 'Name')
    artist = lookup(entry, 'Artist')
    genre = lookup(entry, 'Genre')
    album = lookup(entry, 'Album')
    count = lookup(entry, 'Play Count')
    rating = lookup(entry, 'Rating')
    length = lookup(entry, 'Total Time')

    if name is None or artist is None or genre is None or album is None : 
        continue

    print(name, artist, genre, album, count, rating, length)

    
    cur.execute('''INSERT OR IGNORE INTO Artist (name) 
        VALUES ( ? )''', ( artist, ) )
    cur.execute('SELECT id FROM Artist WHERE name = ? ', (artist, ))
    artist_id = cur.fetchone()[0]
    
    cur.execute('''INSERT OR IGNORE INTO Genre (name) 
        VALUES ( ? )''', ( genre, ) )
    cur.execute('SELECT id FROM Genre WHERE name = ? ', (genre, ))
    genre_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Album (title, artist_id) 
        VALUES ( ?, ? )''', ( album, artist_id ) )
    cur.execute('SELECT id FROM Album WHERE title = ? ', (album, ))
    album_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Track
        (title, album_id, genre_id, len, rating, count) 
        VALUES ( ?, ?, ?, ?, ?, ? )''', 
        ( name, album_id, genre_id, length, rating, count ) )

conn.commit()



#using sqllite

SELECT Track.title, Artist.name, Album.title, Genre.name 
    FROM Track JOIN Genre JOIN Album JOIN Artist 
    ON Track.genre_id = Genre.ID and Track.album_id = Album.id 
        AND Album.artist_id = Artist.id
    ORDER BY Artist.name LIMIT 3

Enter file name:
Dict count: 404
Another One Bites The Dust Queen Rock Greatest Hits 55 100 217103
Asche Zu Asche Rammstein Industrial Herzeleid 79 100 231810
Beauty School Dropout Various Soundtrack Grease 48 100 239960
Black Dog Led Zeppelin Rock IV 109 100 296620
Bring The Boys Back Home Pink Floyd Rock The Wall [Disc 2] 33 100 87118
Circles Bryan Lee Funk Blues Is 54 60 355369
Comfortably Numb Pink Floyd Rock The Wall [Disc 2] 36 100 384130
Crazy Little Thing Called Love Queen Rock Greatest Hits 38 100 163631
Electric Funeral Black Sabbath Metal Paranoid 44 100 293015
Fat Bottomed Girls Queen Rock Greatest Hits 38 100 257515
For Those About To Rock (We Salute You) AC/DC Rock Who Made Who 84 100 353750
Four Sticks Led Zeppelin Rock IV 84 100 284421
Furious Angels Rob Dougan Soundtrack The Matrix Reloaded 54 100 330004
Gelle Bryan Lee Blues/R&B Blues Is 45 60 199836
Going To California Led Zeppelin Rock IV 100 100 215666
Grease Various Soundtrack Grease 42 100 205792
Hand of Doom Black Sabbath Metal Paranoid 36 100 429609
Hells Bells AC/DC Rock Who Made Who 82 100 312946
Hey You Pink Floyd Rock The Wall [Disc 2] 23 100 282305
I Worry Bryan Lee Blues/R&B Blues Is 33 100 341315
Iron Man Black Sabbath Metal Paranoid 39 100 358530
Is There Anybody Out There? Pink Floyd Rock The Wall [Disc 2] 26 100 160679
It was a Very Good Year Frank Sinatra Easy Listening Greatest Hits 39 100 268852
Its Your Move Bryan Lee Blues/R&B Blues Is 40 100 245002
Jack the Stripper/Fairies Wear Boots Black Sabbath Metal Paranoid 35 100 373995
Killer Queen Queen Rock Greatest Hits 34 100 181368
Laichzeit Rammstein Industrial Herzeleid 41 100 262844
Let me Down Easy Bryan Lee Blues/R&B Blues Is 43 100 331441
Misty Mountain Hop Led Zeppelin Rock IV 88 100 278831
No Low Down Bryan Lee Blues/R&B Blues Is 39 100 245760
Now You Are Gone America Easy Listening Greatest Hits 52 100 187559
Outside The Wall Pink Floyd Rock The Wall [Disc 2] 16 100 104437
Paranoid Black Sabbath Metal Paranoid 36 100 172930
Planet Caravan Black Sabbath Metal Paranoid 38 100 274938
Pretty Jeanie Bryan Lee Blues/R&B Blues Is 34 100 225175
Rammstein Rammstein Industrial Herzeleid 45 100 265090
Rat Salad Black Sabbath Metal Paranoid 46 100 150230
Rock & Roll Led Zeppelin Rock IV 109 100 220891
Rode Across the Desert America Easy Listening Greatest Hits 60 100 249887
Sandy Various Soundtrack Grease 36 100 155742
Shake Your Foundations AC/DC Rock Who Made Who 85 100 233769
Sister Golden Hair America Easy Listening Greatest Hits 60 100 202057
Somebody To Love Queen Rock Greatest Hits 17 100 297586
Stairway To Heaven Led Zeppelin Rock IV 93 100 481567
Strangers in the Night Frank Sinatra Easy Listening Greatest Hits 42 100 158484
Summer Nights Various Soundtrack Grease 35 100 216973
Summer Wind Frank Sinatra Easy Listening Greatest Hits 46 100 177554
Thats Life Frank Sinatra Easy Listening Greatest Hits 43 100 189988
The Battle Of Evermore Led Zeppelin Rock IV 110 100 351529
The Blues "Is" Bryan Lee Blues/R&B Blues Is 45 100 252238
There it Is Bryan Lee Blues/R&B Blues Is 35 100 395441
Think Bryan Lee Blues/R&B Blues Is 41 100 320339
This Town Frank Sinatra Easy Listening Greatest Hits 44 100 185051
Tin Man America Easy Listening Greatest Hits 50 100 210076
Track 01 Billy Price Blues/R&B Danger Zone 47 100 261825
Track 02 Billy Price Blues/R&B Danger Zone 42 100 165459
Track 03 Billy Price Blues/R&B Danger Zone 41 100 206471
Messin with the Kid The Canettes Blues Band Blues/R&B Self Titled 23 100 226377
Track 04 Billy Price Blues/R&B Danger Zone 37 100 257175
Stormy Monday The Canettes Blues Band Blues/R&B Self Titled 29 100 464143
Track 05 Billy Price Blues/R&B Danger Zone 42 100 230295
Waiting on Ice Bryan Lee Blues/R&B Blues Is 37 100 289384
War Pigs/Luke's Wall Black Sabbath Metal Paranoid 38 100 478197
We Are The Champions Queen Rock Greatest Hits 24 100 181864
We Will Rock You Queen Rock Greatest Hits 33 100 123559
When Somebody Loves You Frank Sinatra Easy Listening Greatest Hits 43 100 117263
When The Levee Breaks Led Zeppelin Rock IV 83 100 427624
You are the One that I Want Various Soundtrack Grease 31 100 169900
You Done Me Wrong Bryan Lee Blues/R&B Blues Is 35 100 200097
You Shook Me All Night Long AC/DC Rock Who Made Who 92 100 210938
You're My Best Friend Queen Rock Greatest Hits 31 100 172643
Zion Fluke Soundtrack The Matrix Reloaded 47 100 273528
Who Made Who AC/DC Rock Who Made Who 110 100 207203
D.T. AC/DC Rock Who Made Who 90 None 173714
Sink the Pink AC/DC Rock Who Made Who 83 None 253466
Ride On AC/DC Rock Who Made Who 75 None 351268
Chase the Ace AC/DC Rock Who Made Who 93 None 181420
Wollt Ihr Das Bett In Flammen Sehen Rammstein Industrial Herzeleid 50 None 317387
Der Meister Rammstein Industrial Herzeleid 46 None 250801
Weisses Fleisch Rammstein Industrial Herzeleid 52 None 215902
Seemann Rammstein Industrial Herzeleid 34 None 288235
Du Riechst So Gut Rammstein Industrial Herzeleid 50 None 289332
Das Alte Leid Rammstein Industrial Herzeleid 46 None 344581
Heirate Mich Rammstein Industrial Herzeleid 39 None 284734
Herzeleid Rammstein Industrial Herzeleid 42 None 223425
Baba O'Riley The Who Rock Who's Next 45 None 298448
Bargain The Who Rock Who's Next 37 None 331676
Love Ain't for Keeping The Who Rock Who's Next 24 None 130560
My Wife The Who Rock Who's Next 17 None 213786
The Song Is Over The Who Rock Who's Next 14 None 375797
Getting In Tune The Who Rock Who's Next 27 None 288809
Going Mobile The Who Rock Who's Next 28 100 221910
Behind Blue Eyes The Who Rock Who's Next 43 None 221570
Won't Get Fooled Again The Who Rock Who's Next 21 None 511111
Folsom Prison Blues Johnny Cash Country The Legend Of Johnny Cash 47 100 170004
I Walk The Line Johnny Cash Country The Legend Of Johnny Cash 33 100 165720
Get Rhythm Johnny Cash Country The Legend Of Johnny Cash 35 100 134530
Big River Johnny Cash Country The Legend Of Johnny Cash 51 None 152711
Guess Things Happen That Way Johnny Cash Country The Legend Of Johnny Cash 35 None 111386
Ring Of Fire Johnny Cash Country The Legend Of Johnny Cash 30 100 157100
Jackson Johnny Cash Country The Legend Of Johnny Cash 35 100 166530
A Boy Named Sue (live) Johnny Cash Country The Legend Of Johnny Cash 37 None 226063
You Raise Me Up Selah Gospel & Religious Hiding Place 9 None 302262
Hold On, I'm Coming The Canettes Blues Band Blues/R&B On Tap & In the Can 34 100 282566
Got my Mojo Working The Canettes Blues Band Blues/R&B On Tap & In the Can 52 100 310517
Sweet Home Chicago The Canettes Blues Band Blues/R&B On Tap & In the Can 27 100 375849
Heavy Love The Canettes Blues Band Blues/R&B On Tap & In the Can 28 100 253544
Cold Cold Feeling The Canettes Blues Band Blues/R&B On Tap & In the Can 43 100 261929
Lonely Avenue The Canettes Blues Band Blues/R&B On Tap & In the Can 24 100 292022
Good Morning Little Schoolgirl The Canettes Blues Band Blues/R&B On Tap & In the Can 20 100 278648
Dust My Broom The Canettes Blues Band Blues/R&B On Tap & In the Can 24 100 299311
Gimme' Some Lovin The Canettes Blues Band Blues/R&B On Tap & In the Can 35 100 227239
Everybody Needs Somebody to Love The Canettes Blues Band Blues/R&B On Tap & In the Can 24 100 195186
Black Magic Woman The Canettes Blues Band Blues/R&B On Tap & In the Can 31 100 442644
Steppin' Rooster The Canettes Blues Band Blues/R&B On Tap & In the Can 21 100 704862
Our Love is Drifting The Canettes Blues Band Blues/R&B On Tap & In the Can 15 100 292649
Doin' 100 The Canettes Blues Band Blues/R&B On Tap & In the Can 20 100 343980
Mother Joy Matt Ender New Age Natural Wonders Music Sampler 1999 463 None 287294
Soldier's Lament Steve McDonald New Age Natural Wonders Music Sampler 1999 371 None 347193
Dulaman Altan New Age Natural Wonders Music Sampler 1999 403 None 223007
The Arrow Chris Spheeris New Age Natural Wonders Music Sampler 1999 416 None 319869
Spanish Eyes La Esperanza New Age Natural Wonders Music Sampler 1999 375 None 259030
Banana Bay Luis Villegas New Age Natural Wonders Music Sampler 1999 403 None 198060
Aguas De Marco Rosa Passos New Age Natural Wonders Music Sampler 1999 407 None 179408
Tamborea Energipsy New Age Natural Wonders Music Sampler 1999 355 None 235389
Gone Hollie Smith New Age Natural Wonders Music Sampler 1999 362 None 196414
The Immigrant Joanie Madden New Age Natural Wonders Music Sampler 1999 350 None 362631
Pahrump-Big Water Cusco New Age Natural Wonders Music Sampler 1999 342 None 191634
Seeker's Quest Cheryl Gunn New Age Natural Wonders Music Sampler 1999 337 None 236434
Floating To Forever Dean Everson New Age Natural Wonders Music Sampler 1999 337 None 351686
Open Road Jeff Bailey Jazz Relaxing Jazz 10 None 318563
Ruby Kaiser Chiefs Alternative & Punk Yours Truly, Angry Mob 13 None 205008
The Angry Mob Kaiser Chiefs Alternative & Punk Yours Truly, Angry Mob 41 None 288313
Heat Dies Down Kaiser Chiefs Alternative & Punk Yours Truly, Angry Mob 12 None 237061
Highroyds Kaiser Chiefs Alternative & Punk Yours Truly, Angry Mob 10 None 199575
Love's Not A Competition (But I'm Winning) Kaiser Chiefs Alternative & Punk Yours Truly, Angry Mob 11 None 197799
Thank You Very Much Kaiser Chiefs Alternative & Punk Yours Truly, Angry Mob 11 None 157753
I Can Do It Without You Kaiser Chiefs Alternative & Punk Yours Truly, Angry Mob 11 None 204199
My Kind Of Guy Kaiser Chiefs Alternative & Punk Yours Truly, Angry Mob 10 None 246595
Everything Is Average Nowadays Kaiser Chiefs Alternative & Punk Yours Truly, Angry Mob 16 None 164754
Learnt My Lesson Well Kaiser Chiefs Alternative & Punk Yours Truly, Angry Mob 9 None 325955
Try Your Best Kaiser Chiefs Alternative & Punk Yours Truly, Angry Mob 8 None 222511
Retirement Kaiser Chiefs Alternative & Punk Yours Truly, Angry Mob 10 None 237426
The Angry Mob [Live From Berlin] Kaiser Chiefs Alternative & Punk Yours Truly, Angry Mob 40 None 279066
I Like To Fight Kaiser Chiefs Alternative & Punk Yours Truly, Angry Mob 8 None 218566
From The Neck Down Kaiser Chiefs Alternative & Punk Yours Truly, Angry Mob 15 None 147226
The Wisdom of Crowds: Why the Many Are Smarter than the Few Part 1 of 3 James Surowiecki Business The Wisdom of Crowds: Why the Many Are Smarter than the Few (Abridged Nonfiction) 15 None 8586749
The Wisdom of Crowds: Why the Many Are Smarter than the Few Part 2 of 3 James Surowiecki Business The Wisdom of Crowds: Why the Many Are Smarter than the Few (Abridged Nonfiction) 9 None 8443432
The Wisdom of Crowds: Why the Many Are Smarter than the Few Part 3 of 3 James Surowiecki Business The Wisdom of Crowds: Why the Many Are Smarter than the Few (Abridged Nonfiction) 3 None 4168829
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 1 of 5 James Surowiecki Nonfiction The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) 4 None 7920893
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 2 of 5 James Surowiecki Nonfiction The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) None None 7921106
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 3 of 5 James Surowiecki Nonfiction The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) None None 7965736
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 4 of 5 James Surowiecki Nonfiction The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) 1 None 9653330
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 5 of 5 James Surowiecki Nonfiction The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) None None 746536
Misty David Osborne Classical Moonlight And Love Songs 302 None 249312
My Funny Valentine David Osborne Classical Moonlight And Love Songs 301 None 235885
Since I Don't Have You David Osborne Classical Moonlight And Love Songs 288 None 251846
Tenderly David Osborne Classical Moonlight And Love Songs 284 None 227395
When I Fall In Love David Osborne Classical Moonlight And Love Songs 281 None 187768
Unforgettable David Osborne Classical Moonlight And Love Songs 280 None 272927
The Way You Look Tonight David Osborne Classical Moonlight And Love Songs 277 None 247222
I've Grown Accustomed To Your Face David Osborne Classical Moonlight And Love Songs 280 None 148035
Smoke Gets In Your Eyes David Osborne Classical Moonlight And Love Songs 277 None 198504
Fly Me To The Moon David Osborne Classical Moonlight And Love Songs 275 None 182543
Unchained Melody David Osborne Classical Moonlight And Love Songs 265 None 259369
These Foolish Things Remind Me Of You David Osborne Classical Moonlight And Love Songs 267 None 184711
La Vie En Rose David Osborne Classical Moonlight And Love Songs 259 None 276767
As Time Goes By David Osborne Classical Moonlight And Love Songs 290 None 257985
Pilot Fairly Legal Drama Fairly Legal, Season 1 1 None 3847006
hte postal service - the impor The Postal Service Electronic unreleased demo None None 193959
Winter Wonderland Bing Crosby Holiday Seasons Greatings 163 None 144744
Jingle Bells Frank Sinatra Holiday Seasons Greatings 271 None 121756
White Christmas Bing Crosby Holiday Seasons Greatings 158 None 95634
The Christmas Song Frank Sinatra Holiday Seasons Greatings 272 None 209632
Little Drummer Boy Bing Crosby Holiday Seasons Greatings 154 None 178311
Silent Night Frank Sinatra Holiday Seasons Greatings 257 None 149054
Let It Snow Bing Crosby Holiday Seasons Greatings 154 None 125126

Mistletoe And Holly Frank Sinatra Holiday Seasons Greatings 257 None 138501
O Holy Night Bing Crosby Holiday Seasons Greatings 150 None 214021
Have Yourself A Merry Little Christmas Frank Sinatra Holiday Seasons Greatings 252 None 208248
Do You Hear What I Hear Bing Crosby Holiday Seasons Greatings 155 None 164728
I'll Be Home For Christmas Frank Sinatra Holiday Seasons Greatings 249 None 190876
Voices Disturbed Alternative The Sickness None None 191764
The Game Disturbed Alternative The Sickness 1 None 227134
Stupify Disturbed Alternative The Sickness 1 None 274233
Down With The Sickness Disturbed Alternative The Sickness 1 None 278726
Violence Fetish Disturbed Alternative The Sickness None None 203833
Fear Disturbed Alternative The Sickness 4 None 227004
Numb Disturbed Alternative The Sickness None None 224940
Want Disturbed Alternative The Sickness None None 232803
Conflict Disturbed Alternative The Sickness 5 None 275330
Shout 2000 Disturbed Alternative The Sickness 1 None 257802
Droppin' Plates Disturbed Alternative The Sickness 4 None 229302
Meaning Of Life Disturbed Alternative The Sickness 3 None 242599
PY4INF-01-Intro.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. 1 None 3428075
Eben Upton: Raspberry Pi IEEE Computer Society Podcast Computing Conversations 2 None 661368
Andrew Tanenbaum: Writing the Book on Networks IEEE Computer Society Podcast Computing Conversations 4 None 535040
Massimo Banzi: Building Arduino IEEE Computer Society Podcast Computing Conversations 1 None 567745
PY4INF-04-Functions.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 1683800
PY4INF-02-Expressions.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 2578416
PY4INF-03-Conditional.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 2296058
PY4INF-05-Iterations.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. 1 None 2804297
PY4INF-06-Strings.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 1677844
PY4INF-07-Files.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 1478713
PY4INF-08-Lists.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 1636231
PY4INF-09-Dictionaries.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 2254445
PY4INF-10-Tuples.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 1597596
PY4INF-11-Regex.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 2123702
John C. Hollar: History of Computing IEEE Computer Society Podcast Computing Conversations 1 None 694073
Bob Metcalfe: Ethernet at Forty IEEE Computer Society Podcast Computing Conversations None None 1031392
Gordon Bell: Building Blocks of Computing IEEE Computer Society Podcast Computing Conversations 1 None 744620
Ian Horrocks: Standardizing OWL IEEE Computer Society Podcast Computing Conversations 1 None 572212
Katie Hafner: The Origins of the Internet IEEE Computer Society Podcast Computing Conversations 1 None 652460
Larry Smarr: Building Mosaic IEEE Computer Society Podcast Computing Conversations None None 894693
Len Kleinrock: The Theory of Packets IEEE Computer Society Podcast Computing Conversations 1 None 674742
Mitchell Baker: The Mozilla Foundation IEEE Computer Society Podcast Computing Conversations None None 994246
Pooja Sankar: Building the Piazza Collaboration System IEEE Computer Society Podcast Computing Conversations None None 496404
Van Jacobson: Content-Centric Networking IEEE Computer Society Podcast Computing Conversations None None 780251
The Apache Software Foundation IEEE Computer Society Podcast Computing Conversations None None 542484
A Brief History of Packets IEEE Computer Society Podcast Computing Conversations None None 1004643
Discovering JavaScript Object Notation IEEE Computer Society Podcast Computing Conversations None None 650971
Inventing PHP IEEE Computer Society Podcast Computing Conversations None None 494915
Monash Museum of Computing History IEEE Computer Society Podcast Computing Conversations None None 362657
The Rise of JavaScript IEEE Computer Society Podcast Computing Conversations None None 526132
Joseph Hardin: NCSA Mosaic IEEE Computer Society Podcast Computing Conversations None None 845635
Len Kleinrock on the Internet's First Two Packets IEEE Computer Society Podcast Computing Conversations 1 None 594390
Doug Van Houweling on Building the NSFNet IEEE Computer Society Podcast Computing Conversations None None 773146
Computing Conversations: Nathaniel Borenstein on MIME IEEE Computer Society Podcast Computing Conversations None None 682135
You Don't Mess Around With Jim Jim Croce Folk Classic Hits None None 184398
Andrew S. Tanenbaum on MINIX IEEE Computer Society Podcast Computing Conversations None None 603000
Computing Conversations: Elizabeth Fong on SQL Standards IEEE Computer Society Podcast Computing Conversations None None 533577
Nii Quaynor on Bringing the Internet to Africa IEEE Computer Society Podcast Computing Conversations 1 None 673332
PHP-09-Transactions.mp3 Created by Sakai Podcast SI 664 W14's official Podcast. None None 1728888
PHP-01-Intro.mp3 Created by Sakai Podcast SI 664 W14's official Podcast. None None 2250624
PHP-02-Install.mp3 Created by Sakai Podcast SI 664 W14's official Podcast. 1 None None
PHP-04-Expressions.mp3 Created by Sakai Podcast SI 664 W14's official Podcast. None None 2168064
PHP-05-Functions.mp3 Created by Sakai Podcast SI 664 W14's official Podcast. None None 1446792
PHP-06-Strings.mp3 Created by Sakai Podcast SI 664 W14's official Podcast. None None 417696
PHP-12-Sessions.mp3 Created by Sakai Podcast SI 664 W14's official Podcast. None None 3624312
PHP-06-Objects.mp3 Created by Sakai Podcast SI 664 W14's official Podcast. None None 2455368
SI664-13-JSON-A.mp3 Created by Sakai Podcast SI 664 W14's official Podcast. None None 4407672
PHP-13-JavaScript.mp3 Created by Sakai Podcast SI 664 W14's official Podcast. None None 3650088
PHP-09-Database-Design.mp3 Created by Sakai Podcast SI 664 W14's official Podcast. None None 3591072
PHP-Tsugi-Install.mp3 Created by Sakai Podcast SI 664 W14's official Podcast. None None 3181656
PHP-10-MySQL-PDO.mp3 Created by Sakai Podcast SI 664 W14's official Podcast. None None 4536685
PHP-08-MySQL.mp3 Created by Sakai Podcast SI 664 W14's official Podcast. None None 3994656
SI664-13-JSON-B.mp3 Created by Sakai Podcast SI 664 W14's official Podcast. None None 1484616
IMS-Learning-Tools-Interoperability.mp3 Created by Sakai Podcast SI 664 W14's official Podcast. None None 2185848
An Interview with Don Waters Matt Pasiewicz Speech CNI Event Coverage 2 None 1411082
PY4INF-11-Regex.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 2123702
PY4INF-10-Tuples.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 1597596
PY4INF-09-Dictionaries.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 2254445
PY4INF-08-Lists.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 1636231
PY4INF-07-Files.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 1478713
PY4INF-06-Strings.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 1677844
PY4INF-05-Iterations.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 2804297
PY4INF-04-Functions.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 1683800
PY4INF-03-Conditional.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 2296058
PY4INF-02-Expressions.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 2578416
PY4INF-01-Intro.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 3428075
Py4Inf-11-Regex.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 2123702
Py4Inf-10-Tuples.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 1597596
Py4Inf-09-Dictionaries.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 2254445
Py4Inf-08-Lists.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 1636231
Py4Inf-07-Files.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 1478713
Py4Inf-06-Strings.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 1677844
Py4Inf-05-Iterations.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 2804297
Py4Inf-04-Functions.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 1683800
Py4Inf-03-Conditional.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 2296058
Py4Inf-02-Expressions.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 2578416
Py4Inf-01-Intro.mp3 Recording by Dr. Chuck Podcast Python for Informatics's official Podcast. None None 3428075
Ian Foster on the Globus Project IEEE Computer Society Podcast Computing Conversations 1 None 538305
Khan Academy and Computer Science IEEE Computer Society Podcast Computing Conversations 1 None 558837
Guido van Rossumon the Early Years of Python IEEE Computer Society Podcast Computing Conversations 1 None 701884
Guido van Rossum on the Modern Era of Python IEEE Computer Society Podcast Computing Conversations None None 741616
John Resig on Building jQuery IEEE Computer Society Podcast Computing Conversations None None 595983
Roy T. Fielding on Understanding the REST Style IEEE Computer Society Podcast Computing Conversations 1 None 683650
Anil Jain: 25 Years of Biometric Recognition IEEE Computer Society Podcast Computing Conversations None None 661368
Waste Management Undercover Boss Reality TV Undercover Boss, Season 1 1 None 2565232
Sleep Like a Baby Tonight U2 Rock Songs of Innocence None None 301641
Evergreen The Black Crowes Rock Warpaint None None 261373
Oh Josephine The Black Crowes Rock Warpaint None None 398907
Movin' On Down the Line The Black Crowes Rock Warpaint None None 342693
Wounded Bird The Black Crowes Rock Warpaint None None 263453
Volcano U2 Rock Songs of Innocence None None 194116
Wee Who See the Deep The Black Crowes Rock Warpaint None None 290520
Cedarwood Road U2 Rock Songs of Innocence None None 265268
Locust Street The Black Crowes Rock Warpaint None None 255240
Raised By Wolves U2 Rock Songs of Innocence None None 245599
The Troubles U2 Rock Songs of Innocence None None 285843
This Is Where You Can Reach Me Now U2 Rock Songs of Innocence None None 305134
God's Got It The Black Crowes Rock Warpaint None None 202653
California (There Is No End to Love) U2 Rock Songs of Innocence None None 239846
Every Breaking Wave U2 Rock Songs of Innocence None None 252162
Interview With the Onion News Network Onion News Network Comedy Onion News Network, Season 1 1 None 302002
Song for Someone U2 Rock Songs of Innocence None None 226763
The Miracle (Of Joey Ramone) U2 Rock Songs of Innocence None None 255382
Iris (Hold Me Close) U2 Rock Songs of Innocence None None 319457
Goodbye Daughters of the Revolution The Black Crowes Rock Warpaint None None 304147
Walk Believer Walk The Black Crowes Rock Warpaint None None 280253
Choice Hotels International Undercover Boss Reality TV Undercover Boss, Season 2 1 None 2614047
Microchip Jason Farnham Dance & Electronic YouTube Audio Library None None 114336
Anant Agarwal IEEE Computer Society Podcast Computing Conversations None None 494000

### Many-to-Many relationships in SQL

In [1]:
CREATE TABLE User (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name TEXT,
    email TEXT
);

CREATE TABLE Course (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title TEX
);

CREATE TABLE Member (
    user_id INTEGER,
    course_id INTEGER,
    role INTEGER, #we're going to model a little bit of data, right here in the middle, and we're going to model role. And this is going to allow us to say whether someone's a teacher or a student.
    PRIMARY KEY (user_id, course_id) #we're saying our primary key is actually two columns together. And it's the combination. So this forces it to be unique.
)

##

INSERT INTO User (name, email) VALUES ('Jane', 'jane@tsugi.org');
INSERT INTO User (name, email) VALUES ('Ed', 'ed@tsugi.org');
INSERT INTO User (name, email) VALUES ('Sue', 'sue@tsugi.org');

INSERT INTO Course (title) VALUES ('Python');
INSERT INTO Course (title) VALUES ('SQL');
INSERT INTO Course (title) VALUES ('PHP');

##

INSERT INTO Member (user_id, course_id, role) VALUES (1, 1, 1); #user 1 is in course 1 as instructor ...
INSERT INTO Member (user_id, course_id, role) VALUES (2, 1, 0);
INSERT INTO Member (user_id, course_id, role) VALUES (3, 1, 0);

INSERT INTO Member (user_id, course_id, role) VALUES (1, 2, 0);
INSERT INTO Member (user_id, course_id, role) VALUES (2, 2, 0);


INSERT INTO Member (user_id, course_id, role) VALUES (2, 3, 1);
INSERT INTO Member (user_id, course_id, role) VALUES (3, 3, 0);

##

SELECT User.name, Member.role, Course.title
FROM User JOIN Member JOIN Course
ON Member.user_id = User.id AND Member.course_id = Course.id
ORDER BY Course.title, Member.role DESC, User.name #We're going to order by the course title then the member role. The way these. And then member role descending and then the user name. So what this means is, the precedence is course title's the most important thing. The role's the next most important thing. And we're going to do that descending and then the user name is the third most important thing

##

SyntaxError: invalid syntax (<ipython-input-1-9b0e29d0f978>, line 1)

### Many-to-Many relationships in SQL using Python

In [3]:
import json
import sqlite3

conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

# executescript means multi lines of codes
cur.executescript(''' 
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

fname = input('Enter file name: ')
if len(fname) < 1:
    fname = 'roster_data_sample.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:

    name = entry[0]; #name -sub0
    title = entry[1]; # title -sub1

    print((name, title))

    #So what the or ignore means is if this insert would cause an error, please don't blow up.
    # if we insert the name Chuck twice, or ignore will just mean that nothing happens. Meaning it's already there. 
    #Okay, so if it's already there. If it's not there, it'll put it in. 
    cur.execute('''INSERT OR IGNORE INTO User (name)
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Course (title)
        VALUES ( ? )''', ( title, ) )
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]
    
    # insert or replace which is a combination of a insert and an update
    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id) VALUES ( ?, ? )''',
        ( user_id, course_id ) )

    conn.commit()

Enter file name:
('Charley', 'si110')
('Mea', 'si110')
('Hattie', 'si110')
('Lyena', 'si110')
('Keziah', 'si110')
('Ellyce', 'si110')
('Thalia', 'si110')
('Meabh', 'si110')
('Aria', 'si110')
('Reena', 'si110')
('Ioannis', 'si110')
('Reily', 'si110')
('Sidharth', 'si110')
('Keiara', 'si110')
('Yann', 'si110')
('Marykate', 'si110')
('Dylan', 'si110')
('Kiran', 'si110')
('Faizaan', 'si110')
('Aneshia', 'si110')
('Kamron', 'si110')
('Allen', 'si110')
('Marshall', 'si110')
('Rosa', 'si106')

KeyboardInterrupt:

In [16]:
#Assignment week 4:

import json
import sqlite3

conn = sqlite3.connect('rost.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''  
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

fname = input('Enter file name: ')
if len(fname) < 1:
    fname = 'roster_data.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:

    name = entry[0];
    title = entry[1];
    role = entry[2];

    print((name, title, role))

    cur.execute('''INSERT OR IGNORE INTO User (name)
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Course (title)
        VALUES ( ? )''', ( title, ) )
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]
    
    
    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id, role) VALUES ( ?, ?, ?)''',
        ( user_id, course_id, role) )

conn.commit()

Enter file name:
('Zahra', 'si110', 1)
('Loki', 'si110', 0)
('Salymat', 'si110', 0)
('Primrose', 'si110', 0)
('Ghyll', 'si110', 0)
('Aarthi', 'si110', 0)
('Kinnon', 'si110', 0)
('Ayomide', 'si110', 0)
('Luca', 'si110', 0)
('Rio', 'si110', 0)
('Nicol', 'si110', 0)
('Clementine', 'si110', 0)
('Rhy', 'si110', 0)
('Kayden', 'si110', 0)
('Elliott', 'si110', 0)
('Coby', 'si110', 0)
('Ashley', 'si110', 0)
('Lewin', 'si110', 0)
('Azlan', 'si110', 0)
('Joss', 'si110', 0)
('Roxana', 'si110', 0)
('Hawaa', 'si110', 0)
('Capree', 'si110', 0)
('Clarizze', 'si110', 0)
('Marcelina', 'si110', 0)
('Tailee', 'si110', 0)
('Urban', 'si110', 0)
('Kie', 'si106', 1)
('Ailey', 'si106', 0)
('Jensen', 'si106', 0)
('Ciar', 'si106', 0)
('Cooper', 'si106', 0)
('Primrose', 'si106', 0)
('Ace', 'si106', 0)
('Alexandrina', 'si106', 0)
('Roark', 'si106', 0)
('Kori', 'si106', 0)
('Jacqueline', 'si106', 0)
('Jaimie', 'si106', 0)
('Tony', 'si106', 0)
('Esmeralda', 'si106', 0)
('Rahman', 'si106', 0)
('Briony', 'si106', 0)
('Morven', 'si106', 0)
('Clayton', 'si106', 0)
('Sohan', 'si106', 0)
('Zen', 'si106', 0)
('Roxy', 'si106', 0)
('Azlan', 'si106', 0)
('Oluwaferanmi', 'si106', 0)
('Danny', 'si106', 0)
('Derry', 'si106', 0)
('Khizer', 'si106', 0)
('Kayam', 'si106', 0)
('Shi', 'si106', 0)
('Murrun', 'si106', 0)
('Aeron', 'si106', 0)
('Braiden', 'si106', 0)
('Shahna', 'si106', 0)
('Ramanas', 'si106', 0)
('Kaily', 'si106', 0)
('Maizy', 'si106', 0)
('Kohen', 'si206', 1)
('Hadyn', 'si206', 0)
('Lorena', 'si206', 0)
('Daragh', 'si206', 0)
('Carlie', 'si206', 0)
('Malina', 'si206', 0)
('Marwa', 'si206', 0)
('Princess', 'si206', 0)
('Abbegail', 'si206', 0)
('Juliette', 'si206', 0)
('Kia', 'si206', 0)
('Aurea', 'si206', 0)
('Keren', 'si206', 0)
('Celina', 'si206', 0)
('Jannah', 'si206', 0)
('Abbeygale', 'si206', 0)
('Oriane', 'si206', 0)
('Abbe', 'si206', 0)
('Ali', 'si206', 0)
('Aazaan', 'si206', 0)
('Brendyn', 'si206', 0)
('Ebony', 'si301', 1)
('Phebe', 'si301', 0)
('Arabella', 'si301', 0)
('Shola', 'si301', 0)
('Anais', 'si301', 0)
('Daksh', 'si301', 0)
('Nana', 'si301', 0)
('Lorena', 'si301', 0)
('Hashem', 'si301', 0)
('Zane', 'si301', 0)
('Saffron', 'si301', 0)
('Caley', 'si301', 0)
('Warkhas', 'si301', 0)
('Kenzii', 'si301', 0)
('Rheo', 'si301', 0)
('Jordon', 'si301', 0)
('Amie', 'si301', 0)
('Jazmine', 'si301', 0)
('Caelinn', 'si301', 0)
('Adrian', 'si310', 1)
('Teighan', 'si310', 0)
('Kealcy', 'si310', 0)
('Ali', 'si310', 0)
('Danya', 'si310', 0)
('Tai', 'si310', 0)
('Jevan', 'si310', 0)
('Navdeep', 'si310', 0)
('Sasha', 'si310', 0)
('Zanab', 'si310', 0)
('Kaisha', 'si310', 0)
('Kalvyn', 'si310', 0)
('Pranav', 'si310', 0)
('Francesca', 'si310', 0)
('Wiktorja', 'si310', 0)
('Kyde', 'si310', 0)
('Findlay', 'si310', 0)
('Jessamea', 'si310', 0)
('Daniela', 'si310', 0)
('Manuel', 'si310', 0)
('Maxwell', 'si310', 0)
('Savannah', 'si310', 0)
('Hala', 'si310', 0)
('Kaydin', 'si310', 0)
('Jostelle', 'si310', 0)
('Demetrius', 'si310', 0)
('Elliana', 'si310', 0)
('Umaima', 'si310', 0)
('Kaidan', 'si310', 0)
('Hajra', 'si310', 0)
('Norea', 'si310', 0)
('Nicki', 'si310', 0)
('Nala', 'si310', 0)
('Islah', 'si310', 0)
('Aiva', 'si310', 0)
('Jak', 'si310', 0)
('Cadie', 'si310', 0)
('Victory', 'si310', 0)
('Diya', 'si310', 0)
('Fatou', 'si334', 1)
('Keana', 'si334', 0)
('Caelan', 'si334', 0)
('Minna', 'si334', 0)
('Iris', 'si334', 0)
('Andrew', 'si334', 0)
('Artemis', 'si334', 0)
('Zohaib', 'si334', 0)
('Zak', 'si334', 0)
('Komal', 'si334', 0)
('Celine', 'si334', 0)
('Rhiannan', 'si334', 0)
('Rachna', 'si334', 0)
('Jamie', 'si334', 0)
('Sharona', 'si334', 0)
('Nuriyah', 'si334', 0)
('Sonniva', 'si334', 0)
('Alvern', 'si334', 0)
('Marley', 'si334', 0)
('Tobi', 'si334', 0)
('Keavan', 'si334', 0)
('Dolan', 'si334', 0)
('Kelsay', 'si334', 0)
('Julie', 'si334', 0)
('Connie', 'si334', 0)
('Brydon', 'si334', 0)
('Zijie', 'si334', 0)
('Reece', 'si334', 0)
('Ceol', 'si363', 1)
('Lexi', 'si363', 0)
('Fara', 'si363', 0)
('Kaidi', 'si363', 0)
('Thiago', 'si363', 0)
('Conlyn', 'si363', 0)
('Manisha', 'si363', 0)
('Han', 'si363', 0)
('Koden', 'si363', 0)
('Kyalah', 'si363', 0)
('Rayne', 'si363', 0)
('Kaira', 'si363', 0)
('Rhiannan', 'si363', 0)
('Elidh', 'si363', 0)
('Kalin', 'si363', 0)
('Clifford', 'si363', 0)
('Glydel', 'si363', 0)
('Ula', 'si363', 0)
('Sianade', 'si363', 0)
('Alveena', 'si363', 0)
('Atlanta', 'si363', 0)
('Romily', 'si363', 0)
('Clayton', 'si363', 0)
('Leevi', 'si363', 0)
('Madisen', 'si363', 0)
('Franko', 'si363', 0)
('Gabriel', 'si363', 0)
('Munmair', 'si363', 0)
('Chris', 'si363', 0)
('Noelani', 'si363', 0)
('Jak', 'si363', 0)
('Kai', 'si363', 0)
('Marvellous', 'si363', 0)
('Rooke', 'si363', 0)
('Ellissia', 'si363', 0)
('Kevaugh', 'si363', 0)
('Jackson', 'si363', 0)
('Petra', 'si363', 0)
('Halle', 'si363', 0)
('Rawia', 'si363', 0)
('Izabel', 'si363', 0)
('Chukwuemeka', 'si363', 0)
('Mariam', 'si363', 0)
('Wanessa', 'si363', 0)
('Kuzivakwashe', 'si363', 0)
('Jayde', 'si363', 0)
('Otilija', 'si363', 0)
('Tait', 'si363', 0)
('Fionn', 'si364', 1)
('Benoit', 'si364', 0)
('Nicoll', 'si364', 0)
('Riana', 'si364', 0)
('Ceren', 'si364', 0)
('Arandeep', 'si364', 0)
('Dennis', 'si364', 0)
('Bethlin', 'si364', 0)
('Reily', 'si364', 0)
('Penny', 'si364', 0)
('Tasha', 'si364', 0)
('Roxanna', 'si364', 0)
('Wilson', 'si364', 0)
('Violet', 'si364', 0)
('Amani', 'si364', 0)
('Boni', 'si364', 0)
('Kallie', 'si364', 0)
('Leylann', 'si364', 0)
('Herbert', 'si364', 0)
('Sohera', 'si364', 0)
('Kirwin', 'si364', 0)
('Solomon', 'si364', 0)
('Rhyon', 'si364', 0)
('Caoilainn', 'si364', 0)
('Cejay', 'si364', 0)
('Hannah', 'si364', 0)
('Xin', 'si364', 0)
('Faysal', 'si364', 0)
('Colm', 'si364', 0)
('Leoni', 'si364', 0)
('Klevis', 'si364', 0)
('Jade', 'si364', 0)
('Prudance', 'si364', 0)
('Josiah', 'si422', 1)
('Naz', 'si422', 0)
('Samatar', 'si422', 0)
('Ilona', 'si422', 0)
('Theo', 'si422', 0)
('Layan', 'si422', 0)
('Jincheng', 'si422', 0)
('Leonie', 'si422', 0)
('Martyna', 'si422', 0)
('Eren', 'si422', 0)
('Warren', 'si422', 0)
('Ronan', 'si422', 0)
('Fajer', 'si422', 0)
('Deon', 'si422', 0)
('Nairne', 'si422', 0)
('Lina', 'si422', 0)
('Kaileb', 'si422', 0)
('Zendel', 'si422', 0)
('Milosz', 'si422', 0)
('Ramandeep', 'si422', 0)
('Niamh', 'si422', 0)
('Thalia', 'si422', 0)
('Kihanna', 'si422', 0)
('Bret', 'si422', 0)
('Amolpreet', 'si422', 0)
('Arshjoyat', 'si422', 0)
('Martin', 'si422', 0)
('Kingston', 'si422', 0)
('Crombie', 'si422', 0)
('Vladimir', 'si422', 0)
('Omolola', 'si422', 0)
('Suranne', 'si422', 0)
('Boshra', 'si422', 0)
('Milley', 'si422', 0)
('Carson', 'si422', 0)
('Jeremy', 'si422', 0)
('Zoey', 'si422', 0)
('Blue', 'si422', 0)
('Hollymay', 'si422', 0)
('Kainui', 'si422', 0)
('Madison', 'si422', 0)
('Conall', 'si422', 0)
('Aliekber', 'si422', 0)
('Kamryn', 'si422', 0)
('Maisey', 'si422', 0)
('Harnisha', 'si422', 0)
('Derryn', 'si422', 0)
('Thara', 'si422', 0)
('Janani', 'si422', 0)
('Sanaullah', 'si422', 0)
('Ateeq', 'si422', 0)
('Malina', 'si430', 1)
('Zi', 'si430', 0)
('Zainib', 'si430', 0)
('Viki', 'si430', 0)
('Jazeb', 'si430', 0)
('Stefin', 'si430', 0)
('Braydon', 'si430', 0)
('Rovia', 'si430', 0)
('Hayley', 'si430', 0)
('Tori', 'si430', 0)
('Marlie', 'si430', 0)
('Rowyn', 'si430', 0)
('Paolo', 'si430', 0)
('Latifa', 'si430', 0)
('Khalan', 'si430', 0)
('Alighia', 'si430', 0)
('Arjuna', 'si430', 0)
('Emillie', 'si430', 0)
('Navdeep', 'si430', 0)
('Bracken', 'si430', 0)
('Windsor', 'si430', 0)
('Seaan', 'si430', 0)
('Derry', 'si430', 0)
('Elizaveta', 'si430', 0)
('Rebbecca', 'si430', 0)
('Taiwo', 'si430', 0)
('Ailsa', 'si430', 0)
('Madison', 'si430', 0)
('Cecily', 'si430', 0)
('Kalen', 'si430', 0)
('Damon', 'si430', 0)
('Jeanie', 'si430', 0)
('Rameen', 'si430', 0)
('Elspeth', 'si430', 0)
('Aizah', 'si430', 0)
('Prithvi', 'si430', 0)
('Thais', 'si430', 0)
('Caite', 'si430', 0)
('Sullivan', 'si430', 0)
('Harley', 'si430', 0)
('Zayd', 'si430', 0)
('Milos', 'si430', 0)
('Areez', 'si430', 0)
('Chardonnay', 'si430', 0)
('Idris', 'si430', 0)
('Zhi', 'si430', 0)
('Jacqui', 'si430', 0)
('Banan', 'si430', 0)
('Salymat', 'si430', 0)
('Rohma', 'si430', 0)
('Leya', 'si430', 0)

In [8]:
import urllib.request, urllib.parse, urllib.error
import twurl
import json
import sqlite3
import ssl

TWITTER_URL = 'https://api.twitter.com/1.1/friends/list.json'

conn = sqlite3.connect('friends.sqlite')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS People
            (id INTEGER PRIMARY KEY, name TEXT UNIQUE, retrieved INTEGER)''')
cur.execute('''CREATE TABLE IF NOT EXISTS Follows
            (from_id INTEGER, to_id INTEGER, UNIQUE(from_id, to_id))''')

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

while True:
    acct = input('Enter a Twitter account, or quit: ')
    if (acct == 'quit'): break
    if (len(acct) < 1):
        cur.execute('SELECT id, name FROM People WHERE retrieved=0 LIMIT 1')
        try:
            (id, acct) = cur.fetchone()
        except:
            print('No unretrieved Twitter accounts found')
            continue
    else:
        cur.execute('SELECT id FROM People WHERE name = ? LIMIT 1',
                    (acct, ))
        try:
            id = cur.fetchone()[0]
        except:
            cur.execute('''INSERT OR IGNORE INTO People
                        (name, retrieved) VALUES (?, 0)''', (acct, ))
            conn.commit()
            if cur.rowcount != 1:
                print('Error inserting account:', acct)
                continue
            id = cur.lastrowid

    url = twurl.augment(TWITTER_URL, {'screen_name': acct, 'count': '100'})
    print('Retrieving account', acct)
    try:
        connection = urllib.request.urlopen(url, context=ctx)
    except Exception as err:
        print('Failed to Retrieve', err)
        break

    data = connection.read().decode()
    headers = dict(connection.getheaders())

    print('Remaining', headers['x-rate-limit-remaining'])

    try:
        js = json.loads(data)
    except:
        print('Unable to parse json')
        print(data)
        break

    # Debugging
    # print(json.dumps(js, indent=4))

    if 'users' not in js:
        print('Incorrect JSON received')
        print(json.dumps(js, indent=4))
        continue

    cur.execute('UPDATE People SET retrieved=1 WHERE name = ?', (acct, ))

    countnew = 0
    countold = 0
    for u in js['users']:
        friend = u['screen_name']
        print(friend)
        cur.execute('SELECT id FROM People WHERE name = ? LIMIT 1',
                    (friend, ))
        try:
            friend_id = cur.fetchone()[0]
            countold = countold + 1
        except:
            cur.execute('''INSERT OR IGNORE INTO People (name, retrieved)
                        VALUES (?, 0)''', (friend, ))
            conn.commit()
            if cur.rowcount != 1:
                print('Error inserting account:', friend)
                continue
            friend_id = cur.lastrowid
            countnew = countnew + 1
        cur.execute('''INSERT OR IGNORE INTO Follows (from_id, to_id)
                    VALUES (?, ?)''', (id, friend_id))
    print('New accounts=', countnew, ' revisited=', countold)
    print('Remaining', headers['x-rate-limit-remaining'])
    conn.commit()
cur.close()

ModuleNotFoundError: No module named 'twurl'

In [9]:
from urllib.request import urlopen
import urllib.error
import twurl
import json
import sqlite3
import ssl

TWITTER_URL = 'https://api.twitter.com/1.1/friends/list.json'

conn = sqlite3.connect('spider.sqlite')
cur = conn.cursor()

cur.execute('''
            CREATE TABLE IF NOT EXISTS Twitter
            (name TEXT, retrieved INTEGER, friends INTEGER)''')

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

while True:
    acct = input('Enter a Twitter account, or quit: ')
    if (acct == 'quit'): break
    if (len(acct) < 1):
        cur.execute('SELECT name FROM Twitter WHERE retrieved = 0 LIMIT 1')
        try:
            acct = cur.fetchone()[0]
        except:
            print('No unretrieved Twitter accounts found')
            continue

    url = twurl.augment(TWITTER_URL, {'screen_name': acct, 'count': '5'})
    print('Retrieving', url)
    connection = urlopen(url, context=ctx)
    data = connection.read().decode()
    headers = dict(connection.getheaders())

    print('Remaining', headers['x-rate-limit-remaining'])
    js = json.loads(data)
    # Debugging
    # print json.dumps(js, indent=4)

    cur.execute('UPDATE Twitter SET retrieved=1 WHERE name = ?', (acct, ))

    countnew = 0
    countold = 0
    for u in js['users']:
        friend = u['screen_name']
        print(friend)
        cur.execute('SELECT friends FROM Twitter WHERE name = ? LIMIT 1',
                    (friend, ))
        try:
            count = cur.fetchone()[0]
            cur.execute('UPDATE Twitter SET friends = ? WHERE name = ?',
                        (count+1, friend))
            countold = countold + 1
        except:
            cur.execute('''INSERT INTO Twitter (name, retrieved, friends)
                        VALUES (?, 0, 1)''', (friend, ))
            countnew = countnew + 1
    print('New accounts=', countnew, ' revisited=', countold)
    conn.commit()

cur.close()

ModuleNotFoundError: No module named 'twurl'

In [10]:
import urllib.request, urllib.parse, urllib.error
import http
import sqlite3
import json
import time
import ssl
import sys

api_key = False
# If you have a Google Places API key, enter it here
# api_key = 'AIzaSy___IDByT70'

if api_key is False:
    api_key = 42
    serviceurl = "http://py4e-data.dr-chuck.net/json?"
else :
    serviceurl = "https://maps.googleapis.com/maps/api/geocode/json?"

# Additional detail for urllib
# http.client.HTTPConnection.debuglevel = 1

conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

cur.execute('''
CREATE TABLE IF NOT EXISTS Locations (address TEXT, geodata TEXT)''')

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

fh = open("where.data")
count = 0
for line in fh:
    if count > 200 :
        print('Retrieved 200 locations, restart to retrieve more')
        break

    address = line.strip()
    print('')
    cur.execute("SELECT geodata FROM Locations WHERE address= ?",
        (memoryview(address.encode()), ))

    try:
        data = cur.fetchone()[0]
        print("Found in database ",address)
        continue
    except:
        pass #it means dont blow up

    parms = dict()
    parms["address"] = address
    if api_key is not False: parms['key'] = api_key
    url = serviceurl + urllib.parse.urlencode(parms)

    print('Retrieving', url)
    uh = urllib.request.urlopen(url, context=ctx)
    data = uh.read().decode()
    print('Retrieved', len(data), 'characters', data[:20].replace('\n', ' '))
    count = count + 1

    try:
        js = json.loads(data)
    except:
        print(data)  # We print in case unicode causes an error
        continue

    if 'status' not in js or (js['status'] != 'OK' and js['status'] != 'ZERO_RESULTS') :
        print('==== Failure To Retrieve ====')
        print(data)
        break

    cur.execute('''INSERT INTO Locations (address, geodata)
            VALUES ( ?, ? )''', (memoryview(address.encode()), memoryview(data.encode()) ) )
    conn.commit()
    if count % 10 == 0 :
        print('Pausing for a bit...')
        time.sleep(5)

print("Run geodump.py to read the data from the database so you can vizualize it on a map.")

Found in database  AGH University of Science and Technology

Found in database  Academy of Fine Arts Warsaw Poland

Found in database  American University in Cairo

Found in database  Arizona State University

Found in database  Athens Information Technology

Found in database  BITS Pilani

Found in database  Babcock University

Found in database  Banaras Hindu University

Found in database  Bangalore University

Found in database  Baylor University

Found in database  Beijing normal university

Found in database  Belarusian State University

Found in database  Belgrade University

Found in database  Beloit College

Found in database  Belorussian State University

Found in database  Ben Gurion University

Found in database  Bharthidasan University

Found in database  Boston University

Found in database  California Polytechnic State University of San Luis Obispo

Found in database  California State University San Bernardino

Found in database  City of Westminster College

Found in database  Columbia University

Found in database  Cranfield University

Found in database  Czech Technical University in Prague

Found in database  Dartmouth

Found in database  De Anza College

Found in database  Distant University of Hagen

Found in database  Dnipropetrovsk National University

Found in database  Dokuz Eylul University

Found in database  Drexel

Found in database  Drexel University and University of Texas at Austin

Found in database  Duke University

Found in database  EM Lyon

Found in database  Ecole centrale de PARIS

Found in database  Elon University

Found in database  Erhvervsakademi Sydvest

Found in database  Escuela Superior Politecnica del Litoral

Found in database  Fachhochschule Dusseldorf

Found in database  Fachhochschule FH Salzburg

Found in database  Faculdade de Tecnologia do Estado de Sao Paulo

Found in database  Faculty of Technical Sciences Novi Sad Serbia

Found in database  Farmingdale State University

Found in database  Federal University of Minas Gerais

Found in database  Florida Atlantic University

Found in database  Franklin Pierce College

Found in database  Gauhati University

Found in database  George Mason University

Found in database  Georgetown University Law Center

Found in database  Georgia State University

Found in database  Grandville

Found in database  Groep T University

Found in database  Hanoi University of Science and Technology

Found in database  Hebrew University

Found in database  IIIT Hyderabad

Found in database  IIT KANPUR

Found in database  IT College of Estonia

Found in database  IU

Found in database  IUAV Venezia

Found in database  Illinois Institute of Technology

Found in database  Illinois State University Joliet Junior College

Found in database  Indian Institute of Technology

Found in database  Indian Institute of Technology Kharagpur India

Found in database  Indian School of Mines Dhanbad

Found in database  Indiana University

Found in database  Indiana University at Bloomington

Found in database  Institut Superieur de technologies

Found in database  Institute of Business and Modern Technologies

Found in database  Instituto Tecnologico de Santo Domingo

Found in database  International Institute of Information Technology Hyderabad

Found in database  Irkutsk State University

Found in database  JADAVPUR UNIVERSITY

Found in database  Jawaharlal Nehru Technological University

Found in database  Jawaharlal Nehru University

Found in database  Jordan University of Science and Technology

Found in database  K-State

Found in database  KUL

Found in database  Kalamazoo College

Found in database  Kaunas Technology University

Found in database  Kaunas university of technology

Found in database  Kazan Federal University

Found in database  Kent State University

Found in database  Kharkiv State Academy of Municipal Economy Ukraine

Found in database  King Mongkuts University of Technology Thonburi

Found in database  Kokshetau Institute of Economics and Management

Found in database  Kyiv Polytechnic Institute

Found in database  Kyiv Polytechnical Institute

Found in database  Kyiv Unisersity of Oriental Language

Found in database  Laurentian University

Found in database  Lisandro Alvarado

Found in database  Lodz University of Technology

Found in database  Lviv University

Found in database  MSU

Found in database  Madras university

Found in database  Magnitogorsk State Technical University

Found in database  Malayer Azad University

Found in database  Marietta College

Found in database  Masdar Institute

Found in database  Matematicki fakultet Beograd

Found in database  Michigan State University

Found in database  Middle East Technical University

Found in database  Missouri University of Science and Technology

Found in database  Monash

Found in database  Monash University

Found in database  Monash University Churchill Australia

Found in database  Monterrey Institute of Technology and Higher Education

Found in database  Moscow Engineering-Physics Institute

Found in database  Moscow Institute of Physics & Technology

Found in database  Moscow State University

Found in database  NIT ROURKELA

Found in database  NYU

Found in database  Nagpur University

Found in database  Nanyang Technological University

Found in database  National Institute of Technology Jalandhar

Found in database  National Taiwan University

Found in database  National University of Engineering

Found in database  North Central College

Found in database  Northeastern University

Found in database  Northwestern University

Found in database  Obninsk Technical University of Nuclear Power Engineering Russia

Found in database  Old Dominion University

Found in database  Oregon Institute of Technology

Found in database  PUCMM

Found in database  Payame Noor University

Found in database  Penn State University

Found in database  Politecnico di Milano

Found in database  Politehnica University Bucharest

Found in database  Polytechnic University of Timisoara

Found in database  Pondicherry University

Found in database  Pontificia universidad catolica de chile

Found in database  Portland State University

Found in database  Purdue University Indianapolis

Found in database  R V College of Engineering

Found in database  RPI

Found in database  Ramapo College of New Jersey

Found in database  Rochester Institute of Technology

Found in database  SASTRA University

Found in database  Saint Petersburg State University

Found in database  Saint Petersburg State University of Aerospace Instrumentation

Found in database  Saint-Petersburg Polytechnic Univesity

Found in database  San Francisco State University

Found in database  San Jose State University

Found in database  Shanghai Jiao Tong University

Found in database  Sharif University of Technology

Found in database  Simon Bolivar University

Found in database  Simon Fraser University

Found in database  Smolensk State University

Found in database  Sonoma State University

Found in database  South Federal University

Found in database  Spiru Haret University

Found in database  Stanford

Found in database  State University of Campinas

Found in database  State University of New York College at Oswego

Found in database  Stellenbosch University

Found in database  Stonehill College

Found in database  Tallinn University

Found in database  Tallinn University of Technology

Found in database  Tampere University of Technology

Found in database  Tanta University

Found in database  Tarrant County College

Found in database  Technical University of Cluj-Napoca

Found in database  Technion

Found in database  Tel Aviv University

Found in database  The Jerusalem collage of engineering

Found in database  The University of Latvia

Found in database  The University of Manchester

Found in database  The University of South Africa

Found in database  Transilvania University

Found in database  Tufts University

Found in database  UC Berkeley

Found in database  UCLA

Found in database  UCSD

Found in database  UIUC

Found in database  UMD

Found in database  UNISA

Found in database  UNIVERSIDAD DE Buenos Aires

Found in database  UOC

Found in database  USC

Found in database  UW Madison

Found in database  Universidad Central de Venezuela

Found in database  Universidad Complutense de Madrid

Found in database  Universidad Cooperativa de Colombia

Found in database  Universidad Nacional Autonoma de Mexico

Found in database  Universidad Nacional Costa Rica

Found in database  Universidad Nacional de Colombia

Found in database  Universidad Tecnologica Boliviana

Found in database  Universidad de Buenos Aires

Found in database  Universidad de Castilla La Mancha

Found in database  Universidad de Los Andes Colombia

Found in database  Universidad de Oriente

Found in database  Universidad de San Carlos de Guatemala

Found in database  Universidad de Valladolid

Found in database  Universidad de la Sabana

Found in database  Universidad del Valle de Guatemala

Found in database  Universidade Federal da Paraiba

Found in database  Universidade Federal de Santa Catarina

Found in database  Universidade Federal do Rio Grande do Sul

Found in database  Universidade Federal do Rio de Janeiro

Found in database  Universidade Tecnica de Lisboa

Found in database  Universidade de Sao Paulo

Found in database  Universidade do Minho

Found in database  Universitas Gadjah Mada

Found in database  Universitat Politecnica de Valencia

Found in database  Universite Catholique de Louvain

Found in database  University College Dublin

Found in database  University Munich

Found in database  University of Akron

Found in database  University of Alberta

Found in database  University of Amsterdam

Found in database  University of Arkansas

Found in database  University of Athens

Found in database  University of Belgrade

Found in database  University of Birmingham

Found in database  University of Buenos Aires

Found in database  University of Cambridge

Found in database  University of Central Oklahoma

Found in database  University of Chicago

Found in database  University of Cincinnati

Found in database  University of Colorado at Boulder

Found in database  University of Connecticut

Found in database  University of Dallas

Found in database  University of Debrecen

Found in database  University of Delaware

Found in database  University of Erlangen-Nuremberg

Found in database  University of Essex

Found in database  University of Evora

Found in database  University of Florida

Found in database  University of Gothenburg

Found in database  University of Greifswald

Found in database  University of Hamburg

Found in database  University of Hawaii

Found in database  University of Helsinki

Found in database  University of Ilorin Kwara State

Found in database  University of Jaffna

Found in database  University of Kansas

Found in database  University of Kerala

Found in database  University of London

Found in database  University of Malaga

Found in database  University of Malaya

Found in database  University of Manchester

Found in database  University of Michigan

Found in database  University of Missouri - Columbia

Found in database  University of Moratuwa

Found in database  University of Mumbai

Found in database  University of Nebraska

Found in database  University of Nebraska - Lincoln

Found in database  University of New Haven

Found in database  University of New South Wales

Found in database  University of Notre Dame

Found in database  University of Oklahoma

Found in database  University of Ottawa

Found in database  University of Oxford

Found in database  University of Padua

Found in database  University of Pavia Italy

Found in database  University of Pennsylvania

Found in database  University of Piraeus Athens

Found in database  University of Pretoria

Found in database  University of Salamanca

Found in database  University of Sao Paulo

Found in database  University of Sarajevo

Found in database  University of Southern California

Found in database  University of Stellenbosch

Found in database  University of Tartu

Found in database  University of Tehran

Found in database  University of Texas

Found in database  University of Texas at Austin

Found in database  University of Toronto

Found in database  University of Tuebingen

Found in database  University of Twente

Found in database  University of Utah

Found in database  University of Vienna

Found in database  University of Warsaw

Found in database  University of Washington

Found in database  University of Washington - Bothell

Found in database  University of Waterloo

Found in database  University of West Florida

Found in database  University of Wisconsin

Found in database  University of the Punjab Lahore

Found in database  University of the Witwatersrand

Found in database  Vilnius Gediminas Technical University

Found in database  Vilnius University

Found in database  Virginia Commonwealth University

Found in database  Virginia Tech

Found in database  Viswakarma Institute Pune India

Found in database  Warsaw University

Found in database  Washington State University

Found in database  Wayne State

Found in database  Weber State

Found in database  Weizmann Institute of Science

Found in database  Western Governors University

Found in database  Xavier University

Found in database  Zagazig University

Found in database  allama iqbal open university islamabad

Found in database  arizona state university

Found in database  federal institute of tecnology and education from southeastern Minas Gerais

Found in database  kansas state university

Found in database  universidad complutense de madrid

Found in database  university of Patras

Found in database  university of padua
Run geodump.py to read the data from the database so you can vizualize it on a map.

In [11]:
import sqlite3
import json
import codecs

conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

cur.execute('SELECT * FROM Locations')
fhand = codecs.open('where.js', 'w', "utf-8")
fhand.write("myData = [\n")
count = 0
for row in cur :
    data = str(row[1].decode())
    try: js = json.loads(str(data))
    except: continue

    if not('status' in js and js['status'] == 'OK') : continue

    lat = js["results"][0]["geometry"]["location"]["lat"]
    lng = js["results"][0]["geometry"]["location"]["lng"]
    if lat == 0 or lng == 0 : continue
    where = js['results'][0]['formatted_address']
    where = where.replace("'", "")
    try :
        print(where, lat, lng)

        count = count + 1
        if count > 1 : fhand.write(",\n")
        output = "["+str(lat)+","+str(lng)+", '"+where+"']"
        fhand.write(output)
    except:
        continue

fhand.write("\n];\n")
cur.close()
fhand.close()
print(count, "records written to where.js")
print("Open where.html to view the data in a browser")

aleja Adama Mickiewicza 30, 30-059 Kraków, Poland 50.06688579999999 19.9136192
Krakowskie Przedmieście 5, 00-068 Warszawa, Poland 52.2394019 21.0150792
AUC Avenue، Road، First New Cairo, Cairo Governorate 11835, Egypt 30.018923 31.499674
Tempe, AZ 85281, USA 33.4242399 -111.9280527
2500 Daniells Bridge Rd #300, Athens, GA 30606, USA 33.9094132 -83.4603953
Vidya Vihar, Pilani, Rajasthan 333031, India 28.3588163 75.58802039999999
Ilishan-Remo, Nigeria 6.8939569 3.7187158
Ajagara, Varanasi, Uttar Pradesh 221005, India 25.2677203 82.99125819999999
Main Rd, Gnana Bharathi, Bengaluru, Karnataka 560056, India 12.9504351 77.5021998
1311 S 5th St, Waco, TX 76706, USA 31.5469132 -97.1210998
19 Xinjiekou Outer St, Bei Tai Ping Zhuang, Haidian Qu, Beijing Shi, China, 100875 39.9619537 116.3662615
praspiekt Niezaliežnasci 4, Minsk, Belarus 53.8938988 27.5460609
Studentski trg 1, Beograd, Serbia 44.8184518 20.4575913
700 College St, Beloit, WI 53511, USA 42.5030333 -89.0309048
praspiekt Niezaliežnasci 4, Minsk, Belarus 53.8938988 27.5460609
1000 Finch Ave W, North York, ON M3J 2V5, Canada 43.76908419999999 -79.4692584
Palkalaiperur, Tiruchirappalli, Tamil Nadu 620024, India 10.6779085 78.74454879999999
Boston, MA 02215, USA 42.3504997 -71.1053991
San Luis Obispo, CA 93407, USA 35.3050053 -120.6624942
5500 University Pkwy, San Bernardino, CA 92407, USA 34.1817955 -117.3237219
25 Paddington Green, London W2 1NB, UK 51.5210038 -0.1746353
New York, NY 10027, USA 40.8075355 -73.9625727
College Rd, Cranfield, Wharley End, Bedford MK43 0AL, UK 52.0746136 -0.6282833
166 36 Prague 6, Czechia 50.1030364 14.3912841
Hanover, NH 03755, USA 43.7044406 -72.2886935
21250 Stevens Creek Blvd, Cupertino, CA 95014, USA 37.3206678 -122.0454878
Universitätsstraße 47, 58097 Hagen, Germany 51.3774422 7.493855399999999
Haharina Ave, 72, Dnipropetrovsk, Dnipropetrovska oblast, Ukraine, 49000 48.4331922 35.0427966
No: 144 35210, Alsancak, Cumhuriyet Blv, 35220 Konak/İzmir, Turkey 38.430691 27.13692
3141 Chestnut St, Philadelphia, PA 19104, USA 39.9566127 -75.18994409999999
Austin, TX 78712, USA 30.2849185 -97.7340567
Durham, NC 27708, USA 36.0014258 -78.9382286
23 Avenue Guy de Collongue, 69130 Écully, France 45.7864448 4.7641329
CentraleSupélec, 3 Rue Joliot Curie, 91190 Gif-sur-Yvette, France 48.7087594 2.1640062
50 Campus Drive, Elon, NC 27244, USA 36.1026877 -79.5023313
Spangsbjerg Kirkevej 103, 6700 Esbjerg, Denmark 55.48843069999999 8.4467103
Vía Perimetral 5, Guayaquil, Ecuador -2.1481458 -79.9644885
Münsterstraße 156, 40476 Düsseldorf, Germany 51.2468622 6.791686899999999
Urstein Süd 1, 5412 Puch bei Hallein, Austria 47.7233835 13.0871253
Av. Tiradentes, 615 - Bom Retiro, São Paulo - SP, 01124-060, Brazil -23.5295777 -46.6325629
Trg Dositeja Obradovića 6, Novi Sad 106314, Serbia 45.2461012 19.8516968
2350 NY-110, Farmingdale, NY 11735, USA 40.7529512 -73.4267093
Av. Pres. Antônio Carlos, 6627 - Pampulha, Belo Horizonte - MG, 31270-901, Brazil -19.870682 -43.9677359
777 Glades Rd, Boca Raton, FL 33431, USA 26.3749876 -80.10106329999999
40 University Dr, Rindge, NH 03461, USA 42.7789743 -72.05553929999999
Jalukbari, Guwahati, Assam 781014, India 26.1543199 91.66316789999999
4400 University Dr, Fairfax, VA 22030, USA 38.8298118 -77.3073606
600 New Jersey Ave NW, Washington, DC 20001, USA 38.8977953 -77.0129087
Atlanta, GA 30302, USA 33.753068 -84.38528190000001
Grandville, MI, USA 42.9097484 -85.7630885
Andreas Vesaliusstraat 13, 3000 Leuven, Belgium 50.8748769 4.7077753
1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội, Vietnam 21.0048067 105.8453406
Jerusalem 31.7945578 35.2414009
Professor CR Rao Rd, Gachibowli, Hyderabad, Telangana 500032, India 17.4448019 78.3497604
Kalyanpur, Kanpur, Uttar Pradesh 208016, India 26.5123388 80.2329
Raja 4, 12616 Tallinn, Estonia 59.3954769 24.6643815
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1754487 -86.512627
Santa Croce, 191, 30135 Venezia VE, Italy 45.4377574 12.3223297
10 W 35th St, Chicago, IL 60616, USA 41.8348731 -87.6270059
Jr College, Joliet, IL 60431, USA 41.5042613 -88.17752689999999
IIT Campus, Hauz Khas, New Delhi, Delhi 110016, India 28.5449756 77.19262839999999
Kharagpur, West Bengal 721302, India 22.3149274 87.31053109999999
Police Line Road, Main Campus IIT (ISM, IIT (ISM, Hirapur, Sardar Patel Nagar, Dhanbad, Jharkhand 826004, India 23.8143819 86.44120219999999
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1754487 -86.512627
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1754487 -86.512627
1100 Rue Notre-Dame Ouest, Montréal, QC H3C 1K3, Canada 45.4945877 -73.5622815
2400 Walsh Ave, Santa Clara, CA 95051, USA 37.3686167 -121.9695133
Av. de Los Próceres 49, Santo Domingo 10602, Dominican Republic 18.487876 -69.96229199999999
Professor CR Rao Rd, Gachibowli, Hyderabad, Telangana 500032, India 17.4448019 78.3497604
Karl Marx St, 1, Irkutsk, Irkutskaya oblast, Russia, 664003 52.2766643 104.2777445
Jadavpur university gate, 3, Jadavpur, Kolkata, West Bengal 700032, India 22.4988822 88.3714123
Ashok Nagar, Kukatpally Housing Board Colony, Kukatpally, Hyderabad, Telangana 500085, India 17.4932682 78.3913929
Jawaharlal Nehru University, New Delhi, Delhi 110067, India 28.5393351 77.1687226
Ar Ramtha 3030، Ar-Ramtha, Jordan 32.4950392 35.9912257
Manhattan, KS 66506, USA 39.1974437 -96.5847249
Kuala Lumpur, Federal Territory of Kuala Lumpur, Malaysia 3.139003 101.686855
1200 Academy St, Kalamazoo, MI 49006, USA 42.290035 -85.598145
K. Donelaičio g. 73, Kaunas 44249, Lithuania 54.898991 23.912825
K. Donelaičio g. 73, Kaunas 44249, Lithuania 54.898991 23.912825
Kremlyovskaya St, 18, Kazan, Respublika Tatarstan, Russia, 420008 55.790447 49.1214349
800 E Summit St, Kent, OH 44240, USA 41.1455594 -81.33928829999999
Svobody Square, 4, Kharkiv, Kharkivska oblast, Ukraine, 61000 50.0068043 36.2302551
126 Pracha Uthit Rd, Khwaeng Bang Mot, Khet Thung Khru, Krung Thep Maha Nakhon 10140, Thailand 13.6493767 100.4928565
Kokshetau 020000, Kazakhstan 53.2871307 69.40444939999999
Peremohy Ave, 37, Kyiv, Ukraine, 03056 50.4491694 30.4561475
Peremohy Ave, 37, Kyiv, Ukraine, 03056 50.4491694 30.4561475
Volodymyrska St, 60, Kyiv, Ukraine, 01033 50.4420868 30.5104023
935 Ramsey Lake Rd, Sudbury, ON P3E 2C6, Canada 46.4667708 -80.9742332
Stefana Żeromskiego 116, 90-924 Łódź, Poland 51.7537146 19.4517176
Universytetska St, 1, Lviv, Lvivska oblast, Ukraine, 79000 49.8406108 24.0225099
220 Trowbridge Rd, East Lansing, MI 48824, USA 42.701848 -84.4821719
Navalar Nagar, Chepauk, Triplicane, Chennai, Tamil Nadu 600005, India 13.0660293 80.28317190000001
Prospekt Lenina, 38, Magnitogorsk, Chelyabinskaya oblast, Russia, 455000 53.4222397 58.9824868
Hamadan Province, Malayer, University Blvd, Iran 34.304073 48.8452846
215 5th St, Marietta, OH 45750, USA 39.41665649999999 -81.44993509999999
Near Home WTC AUH, Airport Road - Masdar City - Abu Dhabi - United Arab Emirates 24.4330231 54.619113
Studentski trg 16, Beograd 105104, Serbia 44.8199188 20.4587075
220 Trowbridge Rd, East Lansing, MI 48824, USA 42.701848 -84.4821719
Üniversiteler, Dumlupınar Blv. No:1, 06800 Çankaya/Ankara, Turkey 39.8910203 32.7780027
106, Parker Hall, 300 W 13th St, Rolla, MO 65409, USA 37.9537078 -91.7756271
Wellington Rd, Clayton VIC 3800, Australia -37.9105599 145.1362485
Wellington Rd, Clayton VIC 3800, Australia -37.9105599 145.1362485
Northways Rd, Churchill VIC 3842, Australia -38.311211 146.429409
Av. Eugenio Garza Sada 2501 Sur, Tecnológico, 64849 Monterrey, N.L., Mexico 25.6515649 -100.28954
Kashira Hwy, 31, Moskva, Russia, 115409 55.6502051 37.6643098
Institutskiy Pereulok, 9, Dolgoprudny, Moskovskaya oblast, Russia, 141701 55.9297243 37.5199434
ul. Leninskiye Gory, 1, Moskva, Russia, 119991 55.70393490000001 37.5286696
National Institute of Technology , Rourkela, National Institute of Technology, Sector 1, Rourkela, Odisha 769008, India 22.2533781 84.9012363
New York, NY 10003, USA 40.72951339999999 -73.9964609
Amravati Rd, Ram Nagar, Nagpur, Maharashtra 440033, India 21.1468555 79.050062
50 Nanyang Ave, Singapore 639798 1.3483099 103.6831347
Grand Trunk Road, Barnala - Amritsar Bypass Rd, Jalandhar, Punjab 144011, India 31.395929 75.535856
No. 1, Section 4, Roosevelt Rd, Da’an District, Taipei City, Taiwan 10617 25.0173405 121.5397518
Avenida Tupac Amaru 210 Apartado 1301, Rímac 15333, Peru -12.0237376 -77.04837739999999
30 N Brainard St, Naperville, IL 60540, USA 41.772663 -88.1440142
360 Huntington Ave, Boston, MA 02115, USA 42.3398067 -71.0891717
633 Clark St, Evanston, IL 60208, USA 42.0564594 -87.67526699999999
Студенческий городок, 1, Obninsk, Kaluzhskaya oblast, Russia, 249034 55.1372019 36.6064735
5115 Hampton Blvd, Norfolk, VA 23529, USA 36.8841106 -76.304239
3201 Campus Dr, Klamath Falls, OR 97601, USA 42.2573474 -121.7849109
Autopista Duarte Km 1 1/2, Santiago De Los Caballeros 51000, Dominican Republic 19.4436005 -70.6843785
Tehran Province, Tehran, اتوبان ارتش کوی نفت, Nakhl St, Iran 35.8012314 51.5028533
State College, PA 16801, USA 40.7982133 -77.8599084
Piazza Leonardo da Vinci, 32, 20133 Milano MI, Italy 45.4784315 9.228342399999999
Splaiul Independenței 313, București 060042, Romania 44.4386064 26.0494925
Piața Victoriei 2, Timișoara 300006, Romania 45.7536393 21.2251615
Pondicherry University, Chinna Kalapet, Kalapet, Puducherry 605014, India 12.0182619 79.8568461
Av Libertador Bernardo OHiggins 340, Santiago, Región Metropolitana, Chile -33.44180680000001 -70.6399544
1825 SW Broadway, Portland, OR 97201, USA 45.5111471 -122.6834235
420 University Blvd, Indianapolis, IN 46202, USA 39.7743174 -86.1764194
Mysore Rd, RV Vidyaniketan, Post, Bengaluru, Karnataka 560059, India 12.9237228 77.4987012
110 8th St, Troy, NY 12180, USA 42.7297628 -73.67888839999999
505 Ramapo Valley Rd, Mahwah, NJ 07430, USA 41.0819323 -74.1758157
1 Lomb Memorial Dr, Rochester, NY 14623, USA 43.0844955 -77.6749311
Trichy-Tanjore Road, Thirumalaisamudram, Thanjavur, Tamil Nadu 613401, India 10.7285131 79.0184111
University Embankment, 7/9, Sankt-Peterburg, Russia, 199034 59.941894 30.2989199
Bolshaya Morskaya Ulitsa, 67, Sankt-Peterburg, Russia, 190000 59.929491 30.2966081
Politekhnicheskaya Ulitsa, 29, Sankt-Peterburg, Russia, 195251 60.0076235 30.3731954
1600 Holloway Ave, San Francisco, CA 94132, USA 37.7241492 -122.4799405
1 Washington Sq, San Jose, CA 95192, USA 37.3351874 -121.8810715
China, Shanghai Shi, Minhang Qu, 东川路 邮政编码: 200240 31.0252201 121.4337784
Tehran, خیابان آزادی، تهران بزرگ،، Iran 35.7036361 51.35156199999999
Sartenejas, Caracas, Miranda, Venezuela 10.408363 -66.8755735
8888 University Dr, Burnaby, BC V5A 1S6, Canada 49.2780937 -122.9198833
Ulitsa Przhevalskogo, 4, Smolensk, Smolenskaya oblast, Russia, 214000 54.7845032 32.0452469
1801 E Cotati Ave, Rohnert Park, CA 94928, USA 38.3395854 -122.6743811
3140 S Federal St, Chicago, IL 60616, USA 41.8367719 -87.6291633
Strada Ion Ghica 13, București 030045, Romania 44.4332166 26.1009718
450 Serra Mall, Stanford, CA 94305, USA 37.4274745 -122.169719
Cidade Universitária Zeferino Vaz - Barão Geraldo, Campinas - SP, 13083-970, Brazil -22.8184393 -47.0647206
7060 NY-104, Oswego, NY 13126, USA 43.45139280000001 -76.5425285
Stellenbosch Central, Stellenbosch, South Africa -33.9328078 18.864447
320 Washington St, North Easton, MA 02357, USA 42.0590153 -71.0806276
Narva maantee 25, 10120 Tallinn, Estonia 59.4387321 24.7713836
Ehitajate tee 5, 12616 Tallinn, Estonia 59.3959451 24.6710596
Korkeakoulunkatu 7 Kampusareena, 33720 Tampere, Finland 61.4498286 23.8589986
El-Gaish, Tanta Qism 2, Tanta, Gharbia Governorate, Egypt 30.7924391 30.9991409
1500 Houston St, Fort Worth, TX 76102, USA 32.7474661 -97.3278753
Strada Memorandumului 28, Cluj-Napoca 400114, Romania 46.769299 23.585613
55 E 59th St Fl 13, New York, NY 10022, USA 40.7635651 -73.9707505
Tel Aviv-Yafo, Israel 32.1133141 34.8043877
Velachery Main Rd, Narayanapuram, Pallikaranai, Chennai, Tamil Nadu 600100, India 12.9452892 80.207843
Raiņa bulvāris 19, Centra rajons, Rīga, LV-1586, Latvia 56.95080979999999 24.1163132
Oxford Rd, Manchester M13 9PL, UK 53.4668498 -2.2338837
Preller St, Muckleneuk, Pretoria, 0002, South Africa -25.7676588 28.1992637
300 N Broadway, Lexington, KY 40508, USA 38.0516801 -84.49334189999999
419 Boston Ave, Medford, MA 02155, USA 42.4074843 -71.1190232
Berkeley, CA, USA 37.8718992 -122.2585399
Los Angeles, CA 90095, USA 34.068921 -118.4451811
9500 Gilman Dr, La Jolla, CA 92093, USA 32.8800604 -117.2340135
Champaign, IL, USA 40.1019523 -88.2271615
1049 University Dr, Duluth, MN 55812, USA 46.8187754 -92.0843306
7400 E Arapahoe Rd # 10, Centennial, CO 80112, USA 39.5944197 -104.9024568
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
Rambla del Poblenou, 156, 08018 Barcelona, Spain 41.4065636 2.1945816
900 W 34th St, Los Angeles, CA 90007, USA 34.0235782 -118.2865012
Madison, WI, USA 43.076592 -89.4124875
Caracas, Capital District, Venezuela 10.4883502 -66.8891696
Av. Séneca, 2, 28040 Madrid, Spain 40.4454368 -3.7299424
Calle 30, Santa Marta, Magdalena, Colombia 11.2234838 -74.1708905
República de Brasil 33, Centro Histórico de la Cdad. de México, Centro, Cuauhtémoc, 06320 Ciudad de México, CDMX, Mexico 19.4379866 -99.1333401
Avenida 1, Calle 9 Heredia 86, Heredia, 3000, Costa Rica 9.9986898 -84.11118979999999
Cra 45, Bogotá, Colombia 4.6381938 -74.08404639999999
Calle Colombia 154, La Paz, Bolivia -16.500656 -68.134299
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
Rectorado UCLM, Calle Altagracia, 50, 13001 Ciudad Real, Cdad. Real, Spain 38.9934998 -3.9254365
Cra. 1 #18a 12, Bogotá, Cundinamarca, Colombia 4.601458099999999 -74.0661334
Blvrd Bernardo OHiggins 15296, Los Alamos, 22110 Tijuana, B.C., Mexico 32.5005347 -116.9479427
11 Av, Guatemala 01012, Guatemala 14.587349 -90.55341399999999
C/Plaza de Santa Cruz, 8, 47002 Valladolid, Spain 41.6569271 -4.7140547
Chía, Cundinamarca, Colombia 4.8615787 -74.0325368
18 Avenida 11-95 Guatemala, Guatemala 01015, Guatemala 14.603762 -90.48924799999999
Campus I - Lot. Cidade Universitaria, João Pessoa - PB, 58051-900, Brazil -7.1377579 -34.8458995
R. Eng. Agronômico Andrei Cristian Ferreira, s/n - Trindade, Florianópolis - SC, 88040-900, Brazil -27.6000837 -48.5194214
Av. Paulo Gama, 110 Secretaria de Comunicação Social - 8º andar - Reitoria - Farroupilha, Porto Alegre - RS, 90040-060, Brazil -30.0332408 -51.2207273
Av. Pedro Calmon, 550 - Cidade Universitária da Universidade Federal do Rio de Janeiro, Rio de Janeiro - RJ, 21941-901, Brazil -22.8617077 -43.2234035
Av. Rovisco Pais 1, 1049-001 Lisboa, Portugal 38.7368192 -9.138705
Butanta, São Paulo - State of São Paulo, Brazil -23.5613991 -46.7307891
R. da Universidade, 4710-057 Braga, Portugal 41.5607319 -8.3962368
Bulaksumur, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281, Indonesia -7.7713847 110.3774998
Camí de Vera, s/n, 46022 València, Valencia, Spain 39.4807985 -0.3406299
Albertus-Magnus-Platz, 50923 Köln, Germany 50.9281625 6.9288193
Place de lUniversité 1, 1348 Ottignies-Louvain-la-Neuve, Belgium 50.66968749999999 4.6155909
University College Dublin, Belfield, Dublin 4, Ireland 53.3067494 -6.221033599999999
Arcisstraße 21, 80333 München, Germany 48.14966 11.5678602
302 E Buchtel Ave, Akron, OH 44325, USA 41.0770227 -81.5114462
116 St & 85 Ave, Edmonton, AB T6G 2R3, Canada 53.5232189 -113.5263186
1012 WX Amsterdam, Netherlands 52.35581819999999 4.955726299999999
Fayetteville, AR 72701, USA 36.0686895 -94.1748471
Athens 157 72, Greece 37.968196 23.7786871
Studentski trg 1, Beograd, Serbia 44.8184518 20.4575913
Birmingham B15 2TT, UK 52.4508168 -1.9305135
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
The Old Schools, Trinity Ln, Cambridge CB2 1TN, UK 52.2042666 0.1149085
100 N University Dr, Edmond, OK 73034, USA 35.657506 -97.4709491
5801 S Ellis Ave, Chicago, IL 60637, USA 41.7886079 -87.5987133
2600 Clifton Ave, Cincinnati, OH 45221, USA 39.1329219 -84.51495039999999
Boulder, CO 80309, USA 40.00758099999999 -105.2659417
Storrs, CT 06269, USA 41.8077414 -72.2539805
1845 E Northgate Dr, Irving, TX 75062, USA 32.8462097 -96.9210392
Debrecen, Egyetem tér 1, 4032 Hungary 47.5536257 21.6215102
Newark, DE 19716, USA 39.6779504 -75.7506114
Schloßplatz 4, 91054 Erlangen, Germany 49.5978804 11.0045507
Wivenhoe Park, Colchester CO4 3SQ, UK 51.87772589999999 0.9472069000000001
Largo dos Colegiais 2, 7000-803 Évora, Portugal 38.573181 -7.904595100000001
Gainesville, FL 32611, USA 29.6436325 -82.3549302
405 30 Gothenburg, Sweden 57.6981719 11.971878
Domstraße 11, 17489 Greifswald, Germany 54.0949653 13.374584
20146 Hamburg, Germany 53.5665641 9.984619499999999
2500 Campus Rd, Honolulu, HI 96822, USA 21.296939 -157.8171118
Yliopistonkatu 4, 00100 Helsinki, Finland 60.1726348 24.9510419
No C2, Studiopedia, Off Ministry of Health, Fate Tanke Rd, behind Lgea Primary School, Ilorin, Nigeria 8.4928414 4.5962225
Sir. Pon, Ramanathan Rd, Jaffna, Sri Lanka 9.684855599999999 80.0220413
1450 Jayhawk Blvd, Lawrence, KS 66045, USA 38.9543439 -95.2557961
University of Kerala Senate House Campus, Palayam, Thiruvananthapuram, Kerala 695034, India 8.5032375 76.9473306
Senate House, Malet St, Bloomsbury, London WC1E 7HU, UK 51.5229378 -0.1308206
Av. de Cervantes, 2, 29016 Málaga, Spain 36.7199495 -4.4161391
Jalan Universiti, 50603 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur, Malaysia 3.1209046 101.6538414
Oxford Rd, Manchester M13 9PL, UK 53.4668498 -2.2338837
500 S State St, Ann Arbor, MI 48109, USA 42.2780436 -83.7382241
Columbia, MO 65211, USA 38.9403808 -92.32773750000001
Bandaranayake Mawatha, Moratuwa 10400, Sri Lanka 6.7951275 79.900787
Mahatma Gandhi Road, Kolivery Village, University of Mumbai,Vidya Nagari, Kala Ghoda, Fort, Mumbai, Maharashtra 400032, India 18.9293321 72.8310376
1400 R St, Lincoln, NE 68588, USA 40.8201966 -96.70047629999999
1400 R St, Lincoln, NE 68588, USA 40.8201966 -96.70047629999999
300 Boston Post Rd, West Haven, CT 06516, USA 41.2907061 -72.9615183
Sydney NSW 2052, Australia -33.917347 151.2312675
Notre Dame, IN 46556, USA 41.7055716 -86.2353388
660 Parrington Oval, Norman, OK 73019, USA 35.2058936 -97.4457137
75 Laurier Ave E, Ottawa, ON K1N 6N5, Canada 45.42310639999999 -75.68313289999999
Oxford OX1 2JD, UK 51.7548164 -1.2543668
Via 8 Febbraio 1848, 2, 35122 Padova PD, Italy 45.406766 11.8774462
Corso Str. Nuova, 65, 27100 Pavia PV, Italy 45.1867055 9.1568417
Philadelphia, PA 19104, USA 39.9522188 -75.1932137
Karaoli ke Dimitriou 80, Pireas 185 34, Greece 37.9415137 23.6528681
Lynnwood Rd, Hatfield, Pretoria, 0002, South Africa -25.7545492 28.2314476
37008 Salamanca, Spain 40.9613376 -5.666925099999999
Butanta, São Paulo - State of São Paulo, Brazil -23.5613991 -46.7307891
Obala Kulina bana 7/II, Sarajevo 71000, Bosnia and Herzegovina 43.8568576 18.4189278
Los Angeles, CA 90007, USA 34.0223519 -118.285117
Stellenbosch Central, Stellenbosch, South Africa -33.9328078 18.864447
Ülikooli 18, 50090 Tartu, Estonia 58.3810843 26.7198659
Tehran Province, Tehran, Enghelab Square، Iran 35.7022192 51.39573069999999
Austin, TX 78712, USA 30.2849185 -97.7340567
Austin, TX 78712, USA 30.2849185 -97.7340567
27 Kings College Cir, Toronto, ON M5S, Canada 43.6628917 -79.39565640000001
Geschwister-Scholl-Platz, 72074 Tübingen, Germany 48.5294782 9.043773999999999
5, Drienerlolaan, 7522 NB Enschede, Netherlands 52.23979740000001 6.8499883
201 Presidents Cir, Salt Lake City, UT 84112, USA 40.7649368 -111.8421021
Universitätsring 1, 1010 Wien, Austria 48.21318549999999 16.3600504
Krakowskie Przedmieście 26/28, 00-927 Warszawa, Poland 52.2403463 21.0186012
Roosevelt Way NE, Seattle, WA 98115, USA 47.6912794 -122.3176141
18115 Campus Way NE, Bothell, WA 98011, USA 47.7589 -122.1906495
200 University Ave W, Waterloo, ON N2L 3G1, Canada 43.4722854 -80.5448576
11000 University Pkwy, Pensacola, FL 32514, USA 30.5491387 -87.21858619999999
Madison, WI, USA 43.076592 -89.4124875